@charset "utf-8";
@import "mixins";

@media screen and (min-width: 1024px) and (max-width: 1280px) {
	.headgnb {
		max-width:inherit;
		.menu {
			max-width:60%;
			li {
				a {
					padding:0 10px;
					line-height:100px;
				}	
			}
		}
	}
}