@charset "utf-8";
@import "mixins";
@import "component";

.header {
	height:70px;
	&.subhead {
		position: relative;
	  @include transition(.1s, ease);
		h1.logo {display: none;}
		.head {
	    display: block;
			.btn_back {
				display: inline-block;
				width:28px;
				height:28px;
				background: {
					image: url(/kcp/mo/assets/images/icon/ico_pageback.png);
					size:17px;
					repeat:no-repeat;
					position: 0 center;
				}
			}
			h2 {
				display: inline-block;
				font-size: 15px;
			}
	  }
	}
	// &.subhead
	&.fixed {
		position: fixed;
		top:0;
		left:0;
		right:0;
		z-index: 9;
		height: 50px;
		.head {
			position: absolute;
			width:calc(100% - 60px);
			top:50%;
			left:50%;
			@include transform(translate(-50%, -50%));
		}
	}
} // .header

/** container **/
.container {
	.row {
		padding-left:30px;
		padding-right:30px;
	}
} // .container

.page_summary {
	padding:0 30px 28px 60px;
	font-size: 14px;
	font-weight: 300;
	border-bottom:1px solid #000;
}

/** container > search container **/
.search_cont {
	.search_frm-input {
		margin-left:60px;
		padding-bottom:30px;
		.txt {
			padding-top:15px;
			font-size: 13px;
			font-weight: 300;
			span {
				font-weight: 400;
				color:#00abe4;
			}
		}
	}
} // .search_cont
.search_result {
	border-top:1px solid #eeeeee;
} // .search_result

.filter_layer {
	position: fixed;
	top:0;
	right:-100%;
	width:calc(100% - 60px);
	height:100%;
	background-color: #fff;
	z-index: 10;
  @include transition(.4s, ease-in-out);
	&.active {
		right:0;
	}
	.filter_wrap {
		position: relative;
		height:100%;
		background-color: #fff;
		z-index: 9;
	}
	.layer_cont {
		padding:3rem;
	}
	.accord_wrap {
		.acco_panel {
			clear:both;overflow: hidden;
		}
		.chkwrap {
			float:left;
			width:calc(100% / 2);
			margin-bottom:2rem;
		}
	}
}

/** store > login **/
.login {
	.desc {
		margin-top:-10px;
		font-size:12px;
		font-weight:300;
	}
	.pw {
		.frm_group {
			margin-top:40px;
			padding-top:40px;
			border-top:1px solid #eee;
		}
	}
}
