@charset "utf-8";
@import "mixins";
@import "component";

.header {
	height:70px;
	&.subhead {
		position: relative;
	  @include transition(.1s, ease);
		h1.logo {display: none;}
		.head {
	    display: block;
			.btn_back {
				display: inline-block;
				width:28px;
				height:28px;
				background: {
					image: url(/kcp/mo/assets/images/icon/ico_pageback.png);
					size:17px;
					repeat:no-repeat;
					position: 0 center;
				}
			}
			h2 {
				display: inline-block;
				font-size: 15px;
			}
		}
		&._view {
			background-image:linear-gradient(to bottom, #008dcf, #006fba);
			@include transition(.2s, ease-in);
			h2 { color:#fff; }
			.head {
				.btn_back {
					background: {
						image: url(/kcp/mo/assets/images/icon/ico_pageback-w.png);
					}
				}
			}
		}
	}
	// &.subhead
	&.fixed {
		position: fixed;
		top:0;
		left:0;
		right:0;
		z-index: 9;
		height: 50px;
		.head {
			position: absolute;
			width:calc(100% - 60px);
			top:50%;
			left:50%;
			@include transform(translate(-50%, -50%));
		}
		&._view {
			background-image:linear-gradient(to right, #17aded, #0950aa);
		}
	}
} // .header

/** container **/
.container {
	.row {
		padding-left:30px;
		padding-right:30px;
	}
} // .container

.page_summary {
	padding:0 30px 28px 60px;
	font-size: 14px;
	font-weight: 300;
	border-bottom:1px solid #000;
}
.view_title {
	padding:0 30px 28px 30px;
	background-image:linear-gradient(to bottom, #006fba, #0053a7);
	p {
		font-size: 20px;
		font-weight: 700;
		line-height: 1.6;
		color:#fff;
		&.date {
			padding-top:13px;
			font-size:12px;
			font-weight: 300;
		}
	}
}

/** container > search container **/
.search_cont {
	.search_frm-input {
		margin-left:60px;
		padding-bottom:30px;
		.txt {
			padding-top:15px;
			font-size: 13px;
			font-weight: 300;
			span {
				font-weight: 400;
				color:#00abe4;
			}
		}
	}
} // .search_cont
.search_result {
	border-top:1px solid #eeeeee;
} // .search_result

.filter_layer {
	position: fixed;
	top:0;
	right:-100%;
	width:calc(100% - 60px);
	height:100%;
	background-color: #fff;
	z-index: 10;
  @include transition(.4s, ease-in-out);
	&.active {
		right:0;
	}
	.filter_wrap {
		position: relative;
		height:100%;
		background-color: #fff;
		overflow-y:auto;
		z-index: 9;
	}
	.layer_cont {
		padding:3rem 0;
	}
	.accord_wrap {
		.acco_panel {
			clear:both;overflow: hidden;
		}
		.chkwrap {
			float:left;
			width:calc(100% / 2);
			margin-bottom:2rem;
		}
		.item {
			padding:0 3rem;
		}
	}

	// introduction
	.category {
		li {
			> ul { display:none; }
			&.active {
				> ul { display:block; }
				&:after {
					content:'';
					position:absolute;
					top:.7rem;
					right:0;
					width:11px;
					height:8px;
					background: {
						image:url(/kcp/mo/assets/images/icon/ico_check.png);
						size:100% auto;
						position:0 0;
					}
				}
			}
		}
		.depth1 {
			position:relative;
			margin-bottom:3rem;
			&.active {
				.depth2 {
					position:relative;
					display:block;
					margin-top:1.4rem;
					padding-top:1.4rem;
					border-top:1px solid #eee;
				}
			}
		}
		.depth2 {
			> li {
				position:relative;
				padding-left:2rem;
				margin-bottom:3rem;
				&:last-of-type {
					margin-bottom:2rem;
				}
				span {
					font-size:12px;
					font-weight:300;
				}
				&:before {
					content:'';
					position:absolute;
					top:7px;
					left:5px;
					width:5px;
					height:7px;
					border-left:1px solid #c3c3c3;
					border-bottom:1px solid #c3c3c3;
				}
			}
		}
		.depth3 {
			margin-top:1rem;
			padding-left:1rem;
		}
		.chkwrap {
			float:none;
			width:100%;
			input[type=checkbox] + label {
				font-weight:300;
			}
		}
	}
}

/** member > login **/
.member {
	.row {
		margin-top:40px;
	}
	.desc {
		margin-top:-10px;
		font-size:12px;
		font-weight:300;
	}
	.login {
		.frm_group {
			margin-bottom:30px;
		}
	}
	.pw {
		display:none;
		&.active {
			display:block;
		}
		.frm_group {
			padding-top:40px;
			border-top:1px solid #eee;
		}
	}
}

/** introduction **/
.introduction {
	.item_link {
		display:flex;
		flex-wrap:wrap;
		margin:4px 0 40px;
		li {
			width:130px;
			height:30px;
			margin:8px 15px 0 0;
		}
		a {
			display:block;
			border:1px solid #0053a7;
			color:#0053a7;
			line-height:28px;
			text-align:center;
			&:after {
				content:'';
				display:inline-block;
				width:6px;
				height:9px;
				margin:-4px 0 0 5px;
				vertical-align:middle;
				background: {
					image:url(/kcp/mo/assets/images/icon/ico_arr_link.png);
					position:0 0;
					size:cover;
				}
			}
		}
	}
	.sort {
		.util {
			float:right;
			vertical-align:middle;
		}
		.cnt {
			display:inline-block;
			line-height:29px;
			em {
				line-height:inherit;
			}
			&:after {
				content:'';
				display:inline-block;
				width:1px;
				height:10px;
				margin:0 10px;
				background-color:#eee;
			}
		}
		.dropdown {
			position:relative;
			top:auto;
			right:auto;
		}
	}
	.product_list {
		.desc {
			padding-top:0;
		}
	}
	.accord_wrap {
		&._filter {
			.item {
				&[data-status=expanded] {
					margin-bottom:2rem;
					border-bottom:10px solid #f2f4f6;
				}
			}
		}
		&._reference {
			padding:40px 0;
			.item {
				padding-left:30px;
			}
			.acco {
				&_head {
					padding-right:30px;
				}
				&_target {
					font-weight:400;
				}
				&_panel {
					padding-bottom:30px;
					li {
						padding:15px 0;
						border-bottom:1px solid #eee;
					}
				}
			}
		}
	} 

	// view
	hr {
		height:10px;
		margin:0;
		border:none;
		background-color:#f2f4f6;
	}
	.details {
		margin-top:30px;
		&_slide {
			padding:40px 0;
			border-top:1px solid #eee;
			&:first-of-type {
				border-top:0;
			}
			h4 {
				font-size:14px;
				font-weight:400;
			}
			.desc {
				padding-top:4px;
				li {
					padding:0;
				}
			}
		}
	}
	.prd {
		&_slide {
			.figure {
				position:relative;
				padding-bottom:100%;
				overflow:hidden;
				img {
					position:absolute;
					top:50%;
					left:50%;
					transform:translate(-50%,-50%);
				}
			}
		}
		&_info {
			padding-bottom:30px;
			.tit {
				font-size:20px;
				font-weight:400;
			}
			.code {
				font-size:13px;
				color:#0053a7;
			}
		}
		&_spec {
			display:flex;
			flex-wrap:wrap;
			align-items:center;
			padding:30px;
			border-top:1px solid #eee;
			dt {
				width:25%;
			}
			dd {
				width:75%;
				color:#666;
			}
			.mark {
				margin-top:15px;
			}
			[class^="ico"] {
				display:inline-block;
				width:40px;
				height:40px;
				margin-right:10px;
			}
		}
		&_summary {
			padding-top:40px;
			padding-bottom:40px;
			dt {
				font-size:14px;
				font-weight:400;
			}
			.option {
				overflow:hidden;
				ul {
					margin:0 0 30px -10px;
					font-size:0;
				}
				li {
					position:relative;
					display:inline-block;
					width:calc(50% - 10px);
					margin:10px 0 0 10px;
				}
				input[type=radio] {
					position:absolute;
					top:0;
					left:0;
					width:0;
					height:0;
					&:checked + label {
						border-color:#000;
						color:#000;
					}
				}
				label {
					display:block;
					border:1px solid #e0e0e0;
					font-size:14px;
					line-height:28px;
					text-align:center;
				}
			}
			.desc {
				li {
					padding-left:10px;
					font-size:12px;
					font-weight:300;
					text-indent:-10px;
					&:before {
						content:'- ';
					}
				}
			}
		}
	}
	.btn_sticky {
		position:fixed;
		bottom:0;
		left:0;
		right:0;
		z-index:9;
		transition:.3s ease;
		a {
			display:block;
			padding:17px 0 18px;
			font-size:14px;
			font-weight:700;
			text-align:center;
		}
		&.up {
			bottom:51px;
			transition-delay:.4s;
		}
	}
}
