@charset "utf-8";

.main {
	.keyvisual {
		.desc {
			padding:27px 30px 75px;
			> p {
				font-size: 20px;
				font-weight: 700;
			}
			> span {
				display: block;
				padding-top:13px;
				font-weight: 300;
			}
		}
	}
	.btn-util {
		padding:18px 0;
		background: {
			image: url(/kcp/mo/assets/images/common/main_btn-bg.png);
			size:cover;
			repeat:no-repeat;
			position: center center;
		}
		text-align: center;
		a {
			display: block;
			width:100%;
			height:100%;
			font-size: 15px;
			font-weight: 700;
			color:#ffffff
		}
	}
	.section {
		padding:62px 0 100px;
		> h2 {
			font-size: 20px;
			text-align: center;
		}
	}
}
