@charset "utf-8";
@import "mixins";

@font-face {
  font-family: 'NotoSansKR'; font-style: normal; font-weight: 300;
  src: url(../fonts/NotoSans-Light.eot) format('eot');
	src: local('※'), url(../fonts/NotoSans-Light.eot?#iefix) format('embedded-opentype');
  src: url(../fonts/NotoSans-Light.woff) format("woff");
  // src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format("woff2");
}
@font-face {
  font-family: 'NotoSansKR'; font-style: normal; font-weight: 350;
  src: url(../fonts/NotoSans-DemiLight.eot) format('eot');
	src: local('※'), url(../fonts/NotoSans-DemiLight.eot?#iefix) format('embedded-opentype');
  src: url(../fonts/NotoSans-DemiLight.woff) format("woff");
  // src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-DemiLight.woff2) format("woff2");
}
@font-face {
  font-family: 'NotoSansKR'; font-style: normal; font-weight: 400;
  src: url(../fonts/NotoSans-Regular.eot) format('eot');
	src: local('※'), url(../fonts/NotoSans-Regular.eot?#iefix) format('embedded-opentype');
  src: url(../fonts/NotoSans-Regular.woff) format("woff");
  // src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format("woff2");
}
@font-face {
   font-family: 'NotoSansKR'; font-style: normal; font-weight: 500;
   src: url(../fonts/NotoSans-Medium.eot) format('eot');
	 src: local('※'), url(../fonts/NotoSans-Medium.eot?#iefix) format('embedded-opentype');
   src: url(../fonts/NotoSans-Medium.woff2) format('woff2'),
        url(../fonts/NotoSans-Medium.woff) format('woff'),
        url(../fonts/NotoSans-Medium.otf) format('opentype');
 }
@font-face {
  font-family: 'NotoSansKR'; font-style: normal; font-weight: 700;
  src: url(../fonts/NotoSans-Bold.eot) format('eot');
	src: local('※'), url(../fonts/NotoSans-Bold.eot?#iefix) format('embedded-opentype');
  src: url(../fonts/NotoSans-Bold.woff) format("woff");
  // src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format("woff2");
}

/** RESET **/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0; vertical-align: top; letter-spacing: 0; font-size: 13px;line-height:1.8;word-break:keep-all}
fieldset,img, textarea {border: 0;outline: 0;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {display: block;}
img {max-width:100%;}
button,input { border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; padding: 0; margin: 0; outline: none;border:0; }
body {-webkit-text-size-adjust:none;}
ol, ul {list-style: none;}
address,em {font-style: normal}
h1,h2,h3,h4,h5,h6 {font-weight: 400;}
div {word-break: keep-all;}
table {
	border-collapse: collapse;
	border-spacing: 0;
	width:100%;
}
iframe {overflow: hidden; border: 0;}
input[type=text], input[type=password], input[type=number], input[type=tel], input[type=email] {
	width:100%;
	height:40px;
	padding:9px 10px;
	background-color:#f2f4f6;
	border:1px solid #f2f4f6;
	font-size:14px;
	line-height:20px;
	-webkit-appearance: none;
	color:#000;
	&:not([readonly]) {
		&:focus {
			background-color:#fff;
			border-color:#00a8e2;
		}
	}
	&:read-only {
		color:#666;
		&.fc_bk {
			color:#000;
		}
	}
	&.datepicker {
		&:read-only {
			color:#000;
		}
	}
}
textarea {
	width:100%;
	padding:10px;
	min-height:120px;
	background-color:#f2f4f6;
	border:1px solid #f2f4f6;
	font-size:14px;
	-webkit-appearance: none;
	&:not([readonly]) {
		&:focus {
			background-color:#fff;
			border-color:#00a8e2;
		}
	}
	&:read-only {
		color:#666;
	}
	::-webkit-input-placeholder {
		font-size: 14px;
		color:#999;
	}
	::-moz-placeholder {
		font-size: 14px;
		color:#999;
	}
	::-moz-placeholder {
		font-size: 14px;
		color:#999;
	}
}
input::-ms-clear {
  display: none;
}
::-webkit-input-placeholder {
	font-size: 13px;
	font-weight:300;
  color:#999;
}
::-moz-placeholder {
	font-size: 13px;
	font-weight:300;
  color:#999;
}
::-moz-placeholder {
	font-size: 13px;
	font-weight:300;
  color:#999;
}
.clearfix:after {content: ''; display: block; clear: both;}
button {cursor:pointer; border:none; margin:0; padding:0;background-color: rgba(255,255,255, 0);}
input,button,select {vertical-align:middle;}
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	text-decoration:none; -webkit-tap-highlight-color:transparent;
	font-family: 'NotoSansKR', 'Helvetica', 'Malgun Gothic', sans-serif;
	color: #000000;
  font-size: 13px;
}
select{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	width:100%;
	margin:0;
	padding:17px 25px 17px 0;
	// border:1px solid #a1a1a1;
  border:0;
	border-radius: 0;
	font-size: 13px;
	background: {
		image: url(../images/icon/icon_down.png);
		repeat:no-repeat;
		size:9px;
		position: right center;
	}
	outline: none;
	background-color:transparent;
}
select::-ms-expand{
	display:none;
}
button {
	text-align: center;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  background: transparent;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
hr {
	height:10px;
	margin:0;
	border:none;
	background-color:#f2f4f6;
}

/****** Accessibility ******/
.a11y {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.skipnavigation {
	position: relative;
	a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 0;
		z-index: 1;
		display: block;
		font-size: 0;
		background-color: #FFF;
		text-align: center;
		&:focus {
			height: 30px;
			padding: 4px 0;
			visibility: visible;
			font-size: 1em;
		}
	}
}
.noscroll {
  overflow: hidden !important;
	height: 100%;
	.wrap {
    overflow:hidden;
	}
}

/** Button **/
.btn {
	display: inline-block;
  &.btn_search {
    width:20px;
    height:20px;
    background: {
      image:url(../images/icon/ico_search.png);
      size:18px;
      repeat:no-repeat;
      position: 0 0;
    }
  }
  &.btn_filter {
    padding-right:25px;
    background: {
      image:url(../images/icon/ico_filter.png);
      size:18px;
      repeat:no-repeat;
      position: right center;
    }
	}
	&.btn_reset {
		width:15px;
		height:15px;
    background: {
      image:url(../images/common/input_reset.png);
      size:15px;
      repeat:no-repeat;
      position: center center;
    }
	}
	&.btn_reset2 {
		width:15px;
		height:15px;
    background: {
      image:url(../images/common/btn_gdel.png);
      size:12px;
      repeat:no-repeat;
      position: center center;
    }
	}
	&.btn_addr {
		min-width:100px;
		padding:0 10px;
		border:1px solid #0053a7;
		color:#0053a7;
		line-height:38px;
		background-color:#fff;
		i {
			display: inline-block;
			width:15px;
			height:15px;
			margin-right:4px;
			background: {
				image:url(../images/icon/ico_bsearch.png);
				size:14px;
				repeat:no-repeat;
				position: 0 0;
			}
			vertical-align: middle;
		}
	}
	&.primary {
		background-image:linear-gradient(to right, #00a8e2, #0053a7);
		color:#fff;
	}
	&.default {
		background-color:#0053a7;
		color:#fff;
	}
	&.secondary {
		background-color:#00a8e2;
		color:#fff;
	}
	&.cancel {
		background-color:#d1d1d1;
		color:#fff;
	}
	&_line {
		display:inline-block;
		width:100%;
		border:1px solid #0053a7;
		color:#0053a7;
		line-height:40px;
		text-align:center;
		&[disabled] {
			border-color:#e0e0e0;
			color:#999;
		}
		&.bk {
			border-color: #666666;
			color:#666;
		}
		& + .btn_line {
			margin-left:10px;
		}
	}
	&_link {
		display:inline-block;
		font-size:13px;
		line-height:25px;
		border-bottom:1px solid #000;
	}
	&_wrap {
		display:flex;
		margin-bottom:40px;
		&.unset {
			display:block;
			.btn {
				display:block;
			}
			.btn_link {
				margin-top:15px;
			}
		}
		.btn {
			flex:1;
			// font-size:15px;
			font-size:14px;
			line-height:40px;
			text-align:center;
			&.big {
				height:50px;
				font-size:14px;
				font-weight:700;
				line-height:50px;
			}
			&.max {
				height:60px;
				font-size:14px;
				font-weight:700;
				line-height:50px;
			}
		}
		&._fixed {
			position:fixed;
			bottom:0;
			left:0;
			right:0;
			z-index:9;
			margin-bottom:0;
			@include transition(.5s, ease-in-out);
			&.up {
				bottom:51px;
			}
		}
		& + .info {
			margin-top: -20px;
			font-size: 12px;
			color: #666666;
		}
	}
}
.btn_sticky {
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	z-index:9;
	@include transition(.5s, ease-in-out);
	a {
		display:block;
		padding:17px 0 18px;
		font-size:14px;
		font-weight:700;
		text-align:center;
	}
	&.up {
		bottom:51px;
	}
	&.half {
		display: flex;
		a, button {
			flex:1
		}
	}
	.btn_confirm {
		background-color:#0053a7;
		color:#fff;
	}
	.btn_cancel {
		background-color:#888;
		color:#fff;
	}
}
.dim {
  position: fixed;
  top:0;
  left:0;
  right:0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0, .5);
  z-index: 9;
}
.chkwrap {
  min-height:2rem;
  input[type=checkbox] {
    display:none;
    & + label {
      display: inline-block;
      cursor: pointer;
      min-width:100px;
      // height:2rem;
      // line-height: 2rem;
      padding-left:23px;
      margin-right:5px;
      background: {
        image: url(../images/common/uncheck.png);
        repeat: no-repeat;
        size:1.75rem;
        position: 0 3px;
      }
			span {
				display: inline-block;
				margin-left:3px;
				margin-top:-2px;
				vertical-align:middle;
				font: {
					size:11px;
					weight:300;
				};
				&.code {
					font: {
						size:13px;
					};
					vertical-align: inherit;
				}
			}
    }
    &:checked + label {
      background-image: url(../images/common/check.png);
    }
  }
}
.radiowrap {
  min-height:2rem;
  input[type=radio] {
    display:none;
    & + label {
      display: inline-block;
      cursor: pointer;
      min-width:100px;
      padding-left:23px;
      margin-right:5px;
      background: {
        image: url(../images/common/radio_off.png);
        repeat: no-repeat;
        size:1.75rem;
        position: 0 3px;
      }
			span {
				display: inline-block;
				margin-left:3px;
				vertical-align:middle;
				font: {
					size:12px;
					weight:300;
				};
				&.code {
					font: {
						size:13px;
					};
					vertical-align: inherit;
				}
				&.st {
					display: block;
					margin-bottom:5px;
					margin-left:0;
					font-size:14px;
					color:#666666;
				}
			}
    }
    &:checked + label {
      background-image: url(../images/common/radio_on.png);
    }
  }
}
.warn {
	font-size:12px;
	font-weight:300;
	color:#e70707;
	letter-spacing: -.8px;
}
.inp_txt {
	margin-top:6px;
	font-size:12px;
	font-weight:300;
	line-height:1.5;
	color:#666;
	&.warn {
		color:#e70707;
	}
}
.frm_group {
	margin-bottom:40px;
	dt {
		position: relative;
		margin-bottom:6px;
		label {
			&:before {
				content: '';
				display: block;
				position: absolute;
				left:0;
				top:40%;
				width:3px;
				height:3px;
				background-color: #000;
				border-radius: 50%;
			}
		}
		.date {
			position: absolute;
			right:0;
			color:#999;
			&.single {
				position:relative;
				display:block;
				text-align:right;
			}
		}
		&:nth-of-type(n+2) {
			margin-top:14px;
		}
		&.right {
			padding-bottom:5px;
			.btn {
				position: absolute;
				top:0;
				right:0;
			}
		}
	}
	dd + dd {
		margin-top:10px;
	}
	li {
		&:nth-of-type(n+2) {
			margin-top:10px;
		}
	}
	label {
		position: relative;
		padding-left:10px;
		font-size:13px;
		color:#000;
	}
	select {
		// line-height: 19px;
		// padding: 9px 15px 10px 10px;
		line-height: 38px;
		padding: 0 25px 0 10px;
		border:1px solid #000;
		background-position:right 10px center;
	}
	.mix {
		display:flex;
		select {
			// width:auto;
			flex:.4;
			margin-right:10px;
		}
		input {
			// width:auto;
			flex:.6;
		}
		&_unit {
			.inpwrap {
				display:flex;
				background-color:#f2f4f6;
				input[type="text"] {
					position: relative;
					text-align:right;
				}
				.unit {
					position:static;
					padding:8px 10px 8px 0;
					flex-shrink:0;
				}
				.subtit {
					padding:8px 0 8px 10px;
					color:#999;
				}
			}
		} 
		&_half {
			.inpwrap {
				display:flex;
				&.period {
					margin-bottom:10px;
					background-color:#f2f4f6;
					&:before {
						content: '-';
						position:absolute;
						left:50%;
						top:25%;
						color:#999999;
					}
				}
				p {
					flex:1;
					margin-left:10px;
					&:first-child {margin-left:0;}
				}
				&.email {
					margin-bottom:10px;
					&:before {
						content: '@';
						position:absolute;
						left:calc(50% - 5px);
						top:25%;
						color:#999999;
					}
					p {
						margin-left:20px;
						&:first-child {margin-left:0;}
					}
				}
			}
		}
	}
	.unit {
		position:absolute;
		display: block;
		right:10px;
		top:9px;
	}
	.line {
		margin-bottom:10px;
		&:last-child {
			margin-bottom:0;
		}
		& + .with_btn {
			margin-top:10px;
		}
	}
	.inpwrap {
		position:relative;
		&._unit {
			input {
				padding-right:23%;
			}
			.tit {
				position:absolute;
				left:0;
				top:0;
				display: inline-block;
				margin-top:10px;
				margin-left:10px;
				font-size:12px;
				// color:#666;
				& + input {
					padding-left:110px;
				}
			}
		}
		& + .inpwrap {
			margin-top:10px;
		}
		&._upload {
			margin-top:10px;
			margin-bottom:10px;
			input {
				padding-right:30px;
			}
			.btn_reset2 {
				position: absolute;
				top:50%;
				right:10px;
				margin-top:-.65rem;
			}
		}
		&.addr {
			p {
				position:relative;
				&.zipcode {
					input {
						width:calc(100% - 105px);
						// padding-right:100px;
					}
					.btn_addr {
						position: absolute;
						right:0;
						top:0;
					}
				}
			}
		}
	}
	.inline {
		display:inline-block;
		margin:0;
		vertical-align:middle;
	}
	.sel_wrap {
		clear:both;
		overflow: hidden;
		display: flex;
		& + .sel_wrap {
			padding-top:15px;
			margin-top:15px;
			border-top:1px solid #eeeeee;
		}
		.sel {
			position: relative;
			cursor: pointer;
			flex:1;
			margin-right:6px;
			padding-left:0;
			&:nth-child(4n), &:last-child {
				margin-right:0;
			}
			input[type=radio], input[type=checkbox] {
				position: absolute;
				left:0;
				top:0;
				visibility: hidden;
				&:checked + p {
					background-color:#0053a7;
				}
			}
			p {
				width:100%;
				padding: 0.85rem 0;
				text-align: center;
				background-color:#c0cfde;
				color:#fff;
			}
		}
	}
}
.required {
	&::before {
		content:'*';
		display:inline-block;
		color:#00abe4;
		line-height:1;
		vertical-align:middle;
	}
}
.certify {
	font-size:0;
	.inpwrap {
		position:relative;
		display:inline-block;
		width:calc(100% - 100px);
		.cnt {
			position:absolute;
			top:0;
			right:10px;
			color:#00abe4;
			line-height:40px;
		}
	}
	.btn_confirm {
		min-width:100px;
		height:40px;
	}
}
.frm_half {
	display:flex;
	.frm_group {
		flex:1;
		margin-right:10px;
		&:last-child {
			margin-right:0;
		}
	}
}

/** layout **/
@media all and (max-width:960px) {
	html {
		font-size: 10px;
	}
}
html, body {max-width:768px;margin:0 auto;height:100%;min-height:100%;}
.wrap {
	// min-height:100%;
	min-height:calc(100% - 130px);
}
h1.logo {
	display: block;
	width:81px;
	height:30px;
  margin:0 auto;
	background: {
		image:url(../images/common/logo.png);
		size:81px;
		repeat:no-repeat;
		position: 0 0;
	}
}
.header {
	top:0;
	width:100%;
	min-height:50px;
  background-color: #fff;
	.row {
		position: relative;
    height:100%;
		padding:1.85rem 3rem;
	}
  .head_title {
    display: none;
  }
	.btn-navi {
		position: absolute;
		right:30px;
		top:16.5px;
    z-index: 10;
    width: 30px;
    height: 30px;
		i {
			display: block;
	    position: absolute;
	    right: 0;
	    width: 100%;
	    height: 5.00%;
	    background-color: #000000;
			&:nth-child(1) {
				top:5px;
			}
			&:nth-child(2), &:nth-child(3) {
				width:80%;
				top:14px;
			}
			&:nth-child(4) {
				top:23px;
			}
		}
	}
} // .header
.footer {
	margin-top:70px;
	background-color: #222222;
	.social{
		display: none;
		padding:17px 30px 15px;
		background-color:#fae100;
		a {
			display: inline-block;
			padding-left:40px;
			line-height:1.5;
			font-size:12px;
			background:{
				image:url(../images/common/kakao_logo.png);
				size:34px;
				repeat:no-repeat;
				position:0 center;
			}
			span {
				line-height:1.5;
				font-size:12px;
				font-weight: 450;
			}
		}
	}
	.enquiry {
		margin-top:-70px;
		padding:17px 30px 15px;
		background-color:#495560;
		a {
			display: inline-block;
			padding-left:35px;
			line-height:1.5;
			font-size:12px;
			color:#fff;
			background:{
				image:url(../images/icon/icon_femail.png);
				size:21px;
				repeat:no-repeat;
				position:0 center;
			}
			span {
				line-height:1.5;
				font-size:12px;
				font-weight: 450;
				color:#fff;
			}
		}
	}
	.row {
		position: relative;
		// padding:42px 55px 20px;
		padding:42px 30px 20px;
		* {
			color:#eeeeee;
		}
	}
	select {
		border:0;
		border-bottom:1px solid #ffffff;
		background: {
			image: url(../images/icon/ico_down.png);
			size:6px;
			repeat:no-repeat;
			position: right 5px center;
		}
	}
	.util {
		padding-bottom:30px;
		> li {
			float:left;
			padding-right:15px;
			&:last-child {
				padding-right:0;
			}
		}
		a {
			letter-spacing: -.4px;
			&.point {
				font-weight: 700;
			}
		}
		&:after {
			@extend %clearer;
		}
	}
	.cs {
		clear:both;
		display: flex;
		padding-bottom:30px;
		> div {
			flex:1;
			&:last-child {
				text-align: right;
			}
		}
		p {
			font-size: 12px;
			font-weight: 350;
		}
		.tel {
      display: block;
      margin-top:-5px;
			font-size: 25px;
			font-weight: 700;
      letter-spacing: -.8px;
		}
		.btn-cust {
			display: inline-block;
			width:100%;
			max-width:110px;
			padding:11px 0 12px;
			border:2.5px solid #eee;
			font-size: 12px;
			text-align: center;
		}
	}
	.familysite {
		padding-bottom:30px;
	}
	.addr {
		> p {
			padding-bottom:10px;
			span {
				position: relative;
				display: inline-block;
				margin-left:10px;
				padding-left:10px;
				font-size: 12px;
				font-weight: 350;
				&:before {
					content: '';
					position: absolute;
					display: block;
					left:0;
					top:50%;
          margin-top:-4px;
					width:1px;
					height:9px;
					background-color: #eee;
				}
				&:first-child{
					margin-left:0;
					padding-left:0;
					&:before {display: none;}
				}
			}
		}
	}
	.copyr {
		// padding: 20px 55px 80px;
		padding: 20px 30px 80px;
		border-top:1px solid #4b4b4b;
		p {
			font-size: 12px;
			line-height:24px;
			color:#eee;
		}
		.btm {
			position: relative;
			padding:15px 0 10px;
			> span {
				display: block;
				font-size: 12px;
				color:#888888;
			}
			.sns {
				position: absolute;
				right:0;
				bottom:0;
				a {
					display: inline-block;
					width:25px;
					height:25px;
					margin-left:5px;
					i {
						display: block;
						width:100%;
						height:100%;
						background: {
							repeat:no-repeat;
							position: center center;
						}
					}
					&.btn-insta > i{
						background: {
							image: url(../images/icon/fico_insta.png);
							size:20px;
						}
					}
					&.btn-fb > i{
						background: {
							image: url(../images/icon/fico_fb.png);
							size:10px;
						}
					}
					&.btn-yt > i{
						background: {
							image: url(../images/icon/fico_yt.png);
							size:20px;
						}
					}
				}
			}
		}
	}
	&._etc {
		.btn-cust {display: none;}
	}
} // .footer
.gnb_menu {
	position: fixed;
  top:0;
  right:-100%;
	width:100%;
	height:100%;
	background-color:#fff;
	z-index:12;
	overflow-y:auto;
	@include transition(.2s, ease-in);
	&.open {
		right:0;
	}
	.gnb_head {
		min-height:70px;
		padding:24px 30px;
		color:#fff;
		background-color:#0053a7;
		* { color:inherit;font-size:12px; }
		.btn_link {
			line-height: 21px;
			border-bottom-color:#fff;
			&._modi {
				position: absolute;
				top:25px;
				right:60px;
			}
		}
		.btn_close {
			position:absolute;
			top:30px;
			right:30px;
			width:15px;
			height:15px;
			background:{
				image:url(../images/common/btn_wdel.png);
				size:15px;
				repeat:no-repeat;
				position:0 0;
			}
		}
		.row {
			p {
				max-width:70%;
				span {
					font-weight: 700;
				}
			}
		}
	}
	.gnb_wrap {
		height:100%;
		.tablist {
			float:left;
			display: block;
			table-layout: inherit;
			width:160px;
			// height:100%;
			padding-bottom:30px;
			background-color:#f2f4f6;
			border-right:1px solid #e0e0e0;
			li {
				display: block;
				text-align:left;
				padding:0;
				background-color:#f2f4f6;
				border-bottom:0;
				a, button {
					font-size:14px;
					width:100%;
					height:100%;
					padding:20px 20px 20px 30px;
					text-align:left;
					&.current {
						background-color:#fff;
						color:#0053a7;
						font-weight: 450;
					}
				}
				&.comm {
					width:160px;
					padding:30px 0 30px;
					border-right:1px solid #e0e0e0;
				}
			}
		}
		.submenu {
			clear: inherit;
			float:right;
			width:calc(100% - 160px);
			overflow:hidden;
			overflow-y:auto;
			.item {
				padding:16px 20px 14px;
				border-bottom:1px solid #e0e0e0;
			}
			.acco_head {
				padding-bottom:0;
				.acco_target {
					font-weight: 400;
					font-size:13px;
				}
			}
			.acco_panel {
				> ul {
					padding:10px 15px 10px 20px;
					li {
						padding:10px 0;
						color:#666666;
						a {
							color:#666666;
						}
					}
				}
			}
		}
		&:after {
			@extend %clearer;
		}
	}
	.reomm_bnr.swiper-container {
		.swiper-slide {
			padding-left:20px;
			padding-right:20px;
			&.slide03 {
				.figure {
				}
			}
		}
		.figure {
			position: relative;
			width:100%;
			height:70px;
			text-align: center;
			img {
				position: absolute;
				top:50%;
				left:50%;
				@include transform(translate(-50%, -50%));
				max-height:96%;
			}
		}
		.info {
			a {
				display: inline-block;
				padding:5px 0;
				text-align: center;
			}
			.btn_more {
				margin-top:0;
				font-size:12px;
				letter-spacing: -1px;
			}
		}
		.swiper-pagination-bullets {
			position: relative;
			bottom:0;
			.swiper-pagination-bullet {
				background:#ccc;
				opacity: 1;
			}
			.swiper-pagination-bullet-active {
				background:#777;
			}
		}
	}

} //.gnb_menu
.fixed_menu {
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  width:100%;
	height:51px;
  height:calc(constant(safe-area-inset-bottom) + 51px);
  height:calc(env(safe-area-inset-bottom) + 51px);
  border-top:1px solid #e5e5e5;
  background-color: #fff;
	z-index: 11;
	@include transition(.5s, ease-in-out);
	&.hide {
		bottom:-52px;
	}
  .row {
    display: flex;
    height:100%;
    .menu {
      flex:1;
      height:100%;
      text-align: center;
      background: {
        size:20px;
        position: center top 6px;
        repeat:no-repeat;
      }
      &.mn01 {
        background-image: url(../images/icon/fixed_menu01.png);
        &.active {background-image: url(../images/icon/fixed_menu01_on.png);}
      }
      &.mn02 {
        background-image: url(../images/icon/fixed_menu02.png);
        &.active {background-image: url(../images/icon/fixed_menu02_on.png);}
      }
      &.mn03 {
        background-image: url(../images/icon/fixed_menu03.png);
        &.active {background-image: url(../images/icon/fixed_menu03_on.png);}
      }
      &.mn04 {
        background-image: url(../images/icon/fixed_menu04.png);
        &.active {background-image: url(../images/icon/fixed_menu04_on.png);}
      }
      a, button {
        display: block;
        width:100%;
        height: 100%;
      }
    }
    span {
      display: block;
      padding-top:30px;
      font-size: 10px;
    }
  }
} // .fixed_menu

.back-top { 
	// bottom: 90px;
	cursor: pointer; 
	right: 13px; 
	position: fixed; 
	width: 41px; 
	height: 41px; 
	display: inline-block; 
	text-decoration: none; 
	z-index: 10;
	opacity: 0; 
	transition: 0.5s ease-in-out;
	background-image: url(../images/common/btn_top.png); 
	background-size: 41px; 
	background-repeat: no-repeat; 
	background-position: center center; 
}
.back-top.show { 
	opacity: 1; 
} //.back-top

.search_frm-input {
	> div {
		position: relative;
		.btn_reset {
			position: absolute;
			right:3rem;
			top:18px;
		}
	}
  input {
		width:100%;
		height:auto;
    border:0;
    border-bottom:1px solid #000;
    padding:16px 30px 16px;
		font-size: 14px;
		line-height:normal;
		background-color:#fff;
		&:focus {
			border-color:#000;
		}
  }
  ::-webkit-input-placeholder {
    font-size: 14px;
  }
  ::-moz-placeholder {
    font-size: 14px;
  }
  ::-moz-placeholder {
    font-size: 14px;
	}
  .btn_search {
    position: absolute;
    left:0px;
    top:18px;
  }
} //.search_frm-input
.search_layer {
  position: fixed;
  bottom:-150%;
  left:0;
  right:0;
  width:100%;
  height:calc(100vh - 112px);
  @include transition(.4s, ease-in-out);
	.dim {
		height:calc(100% - 51px);
	}
	&.active {
		bottom:52px !important;
	}
  .search_wrap {
    position: relative;
    width:100%;
    height:calc(100vh - 111px);
    padding-bottom:50px;
    background-color: #fff;
    z-index: 11;
    .row {
      padding-top:26px;
      padding-left:60px;
		}
		.btn_down {
			position: absolute;
			top:12px;
			left:50%;
			margin-left:-10px;
			width:20px;
			height:0.75rem;
			background: {
				image: url(../images/icon/icon_close-down.png);
				size:13px;
				repeat:no-repeat;
				position: center 0;
			}
			z-index: 1;
		}
    .recom_tag {
      margin-top:33px;
      > p {
        font-size: 14px;
        font-weight: 700;
      }
      > ul {
        li {
          padding-top:13px;
          p {
            display: inline-block;
						font-weight: 300;
						vertical-align: middle;
            &.num {
              padding-right:15px;
              font-weight: 700;
            }
            > span {
              display: inline-block;
              margin-left: 5px;
              // font-size: 12px;
							font-size: 14px;
              // color:#999999;
            }
          }
        }
      }
    } // .recom_tag
  }
} // .search_layer

[class*='_layer'] {
	z-index: 11;
	.dim {
    display: none;
    bottom:-100%;
  }
  &.active {
    bottom:0;
    .dim {
      bottom:0;
      display: block;
    }
  }
	.layer_head {
		position: relative;
		padding:1.70rem 3rem;
		font-size: 1.5rem;
		border-bottom:1px solid #000;
		.btn_close {
			position: absolute;
			right:3rem;
			top:2.3rem;
			width:16px;
			height:16px;
			background: {
				image: url(../images/icon/icon_close32x32.png);
				size:16px;
				repeat:no-repeat;
				position: center center;
			}
		}
	}
}
// [class*='_layer']

/* layer popup */
.layer_body {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
  display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, .7);
	&.layer_full {
		top:inherit;
		bottom:0;
		background-color: transparent;
		.layer_wrap {
			width:100%;
			height:100%;
		}
		.layer_head .layer_title {
			height:70px;
			padding:23px 60px 23px 30px;
			text-align:left;
		}
		.layer_cont {
			height:calc(100% - 70px);
			padding:20px 30px;
		}
		.layer_close {
			top:27px;
			right:32px;
		}
	}
	&.layer_wide {
		.layer_wrap {
			max-width:100%;
			width:100%;
			border-radius: 0;
		}
		.layer_head .layer_title{
			border-bottom:1px solid #e1e1e1;
		}
	}
}
.layer_wrap {
	position: absolute;
	z-index: 100;
	top:50%;
	left:50%;
	width:calc(100% - 80px);
	background-color: #fff;
	opacity: 0;
	@include transform(translate(-50%, -50%));
	overflow-y: auto;
	-webkit-transition: visibility 0.2s 0.1s, opacity 0.2;
	-moz-transition: visibility 0.2s 0.1s, opacity 0.2;
	-ms-transition: visibility 0.2s 0.1s, opacity 0.2;
	-o-transition: visibility 0.2s 0.1s, opacity 0.2;
	transition: visibility 0.2s 0.1s, opacity 0.2;
	.layer_head {
		.layer_title {
			padding:34px 0 0;
			border-bottom-width:0;
			font-size:17px;
			font-weight:500;
		}
	}
	.btn_wrap {
		margin-bottom:0;
	}
	.btn_confirm {
		background-color:#0053a7;
		color:#fff;
	}
	.btn_cancel {
		background-color:#888;
		color:#fff;
	}
}
.layer_head {
	position:relative;
	background-color: #fff;
	.layer_title {
		padding:10px;
		font-size: 15px;
		line-height: 1.4;
		margin: 0;
		border-bottom:1px solid #898989;
		text-align: center;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}
.layer_close {
  position:absolute;
  top: 0;
  right: 0;
  width:20px;
  height:20px;
  background: {
    image: url(../images/icon/icon_close32x32.png);
    size:16px;
    repeat: no-repeat;
    position: center center;
  }
  border: 0;
  text-indent:-9999px;
}
.layer_cont{
	width: 100%;
	height: 100%;
	padding:30px 15px;
	> *:first-child {
		margin-top: 0;
	}
	> *:last-child {
		margin-bottom: 0;
	}
	&.center {
		text-align: center;
	}
	&.alert {
		padding:32px 20px;
		text-align:center;
		p {
			font-size:14px;
			font-weight:300;
		}
		strong {
			font-weight: 500;
		}
	}
}
.layer_body.is-visible {
	visibility: visible;
	.layer_wrap {
		opacity: 1;
	}
	&[role="dialog"]{
		display: block;
	}
}
.layer_foo.btn_wrap {
	&._fixed {
		z-index:101;
	}
}
.tablist {
	display: table;
	width: 100%;
	table-layout: fixed;
	li {
		display: table-cell;
		border-bottom: 1px solid #f0f0f0;
		text-align: center;
		.tab, input[type="radio"] + label {
			display: inline-block;
			min-width: 140px;
			border: 0;
			background: transparent;
			color: #000;
			cursor: pointer;
			&:after {
				display: none;
			}
			&[aria-selected="true"], input[type="radio"]:checked + label {
				border: 0;
				border-bottom: 3px solid #3D3D3D;
				&:after {
					display: none;
				}
			}
		}
	}
}
.tab_contents {
	clear: both;
	.tab-cont {
		display: none;
		&.current {
			display: block;
		}
	}
	.tab_panel{
		padding:50px 0;
		&[aria-hidden="true"] {
			display: none;
		}
	}
} //.tablist
.accord_wrap {
	.item {
		box-sizing: content-box;
		overflow: hidden;
	}
	.acco_head {
		display: block;
		padding-bottom:2.5rem;
		color: #000;
		text-decoration: none;
		outline: 0;
		cursor: pointer;
		.acco_target {
			display:block;
			position:relative;
			font-size:14px;
			font-weight: 700;
			outline: none;
			i {
				position: absolute;
				right:0;
				top:50%;
				margin-top:-3px;
				display: inline-block;
				line-height: inherit;
				vertical-align: middle;
				width: 7px;
				height: 7px;
				border-left: 1px solid #333;
				border-bottom: 1px solid #333;
				-webkit-transform: rotate(-45deg);
				transform: rotate(-45deg);
				box-sizing: border-box;
			}
		}
		&[aria-expanded="true"] {
			.acco_target i {
				-webkit-transform: rotate(135deg);
				transform: rotate(135deg);
			}
		}
	}
	[data-status="disabled"] .acco_panel{
		display: none;
	}
	.acco_panel {
		outline: 0;
		&[aria-hidden="true"] {
			display: none;
		}
	}
}
.swiper-slide {
	background: {
		repeat:no-repeat;
	}
}

// ui-datepicker
input.datepicker,
input.calendar {
	background: {
		image:url(../images/icon/ico_calender.png);
		size:17px;
		repeat:no-repeat;
		position: right 10px center;
	}
}

.ui-datepicker {
	left:30px !important;
	// width: 200px;
	width: calc(100% - 60px);
	padding: 2px 2px 0;
	margin-top:2px;
	display: none;
	border:1px solid #a1a1a1;
	background-color: #f2f4f6;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: 2px 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 10px;
	width: 28px;
	height: 28px;
	z-index: 10;
	background: {
		position:center center;
		repeat:no-repeat
	}
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
	left: 4px;
	background: {
		image:url(../images/icon/ico_cal_prev.png);
		size:10px;
	}
}
.ui-datepicker .ui-datepicker-next {
	right: 4px;
	background: {
		image:url(../images/icon/ico_cal_next.png);
		size:10px;
	}
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 23px;
	padding:5px 0;
	line-height: 18px;
	text-align: center;
	span {
		font-size: 14px;
	}
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 15px;
	margin: 0;
	padding:6px 10px;
	border:1px solid #ddd;
	background-position:right 10px center;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 80px;
	text-align: center;
}
.ui-datepicker select.ui-datepicker-month {
	width: 60px;
	margin-left:10px;
}
.ui-datepicker table {
	width: 100%;
	font-size: 10px;
	border-collapse: collapse;
	margin: 0 0 4px;
}
.ui-datepicker th {
	padding: 7px 3px;
	text-align: center;
	border: 0;
	font-size: 11px;
	span {
		font-size: 11px;
	}
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	width:30px;
	height:30px;
	// padding: 10px 2px;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	line-height:27px;
	&.ui-state-active {
		border:1px solid #0053a7;
		background-color: #fff;
		color:#0053a7;
		border-radius: 100%;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		-ms-border-radius: 100%;
		-o-border-radius: 100%;
}
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: 7px 0 0 0;
	padding: 0 2px;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: 5px 2px 4px;
	cursor: pointer;
	padding: 2px 6px 3px 6px;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto 4px;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}

/* Icons */
.ui-datepicker .ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
	left: 5px;
	top: 3px;
}

/* table */
.tbl_list {
	th, td {
		vertical-align:middle;
		&.left {
			padding-left:2.5rem;
			text-align:left;
		}
		&.right {
			padding-right:2.5rem;
			text-align:right;
		}
	}
	th {
		position:relative;
		padding:10px 0;
		border-top:1px solid #e5e5e5;
		border-bottom:1px solid #e5e5e5;
		background-color:#f2f4f6;
		font-weight:400;
		&:before {
			content:'';
			position:absolute;
			top:50%;
			left:0;
			width:1px;
			height:10px;
			background-color:#e5e5e5;
			transform:translateY(-50%);
		}
	}
	td {
		padding:13px 0;
		text-align:center;
		border-bottom:1px solid #eee;
	}
	tfoot {
		th, td {
			border-top:1px solid #e0e0e0;
			border-bottom:1px solid #e0e0e0;
			background-color:#f1fbff;
		}
	}
}


.error_page {
	background-color: #f5f5f5;
	.skybanner {
		display: none;
	}
}
.error_mssg {
	position: absolute;
	left:50%;
	top:47%;
	@include transform(translate(-50%, -50%));
	width:100%;
	max-width:320px;
	padding:30px 	20px;
	background-color: #fff;
	.err_img {
		img {width:45px;}
	}
	div {
		padding-left:10px;
		p {
			font-size:1.2rem;
			font-weight: 300;
		}
		.btn_link {
			padding-right:25px;
			margin-top:20px;
			margin-right:20px;
			font-size: 1.1rem;
			font-weight: 500;
			background: {
				image: url(../images/icon/icon_depth.png);
				repeat:no-repeat;
				position:right top 7px;
				size: 6px;
			}
		}
	}
	strong {
		display: block;
		margin-top:10px;
		margin-bottom:10px;
		font-size:1.6rem;
		font-weight: 700;
		color:#0053a7;
	}
}