@charset "utf-8";
@import "mixins";

@font-face {
  font-family: 'NotoSansKR'; font-style: normal; font-weight: 300;
  src: url(../fonts/NotoSans-Light.eot) format('eot');
	src: local('※'), url(../fonts/NotoSans-Light.eot?#iefix) format('embedded-opentype');
  src: url(../fonts/NotoSans-Light.woff) format("woff");
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format("woff2");
}
@font-face {
  font-family: 'NotoSansKR'; font-style: normal; font-weight: 350;
  src: url(../fonts/NotoSans-DemiLight.eot) format('eot');
	src: local('※'), url(../fonts/NotoSans-DemiLight.eot?#iefix) format('embedded-opentype');
  src: url(../fonts/NotoSans-DemiLight.woff) format("woff");
  // src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-DemiLight.woff2) format("woff2");
}
@font-face {
  font-family: 'NotoSansKR'; font-style: normal; font-weight: 400;
  src: url(../fonts/NotoSans-Regular.eot) format('eot');
	src: local('※'), url(../fonts/NotoSans-Regular.eot?#iefix) format('embedded-opentype');
  src: url(../fonts/NotoSans-Regular.woff) format("woff");
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format("woff2");
}
@font-face {
   font-family: 'NotoSansKR'; font-style: normal; font-weight: 500;
   src: url(../fonts/NotoSans-Regular.eot) format('eot');
	 src: local('※'), url(../fonts/NotoSans-Regular.eot?#iefix) format('embedded-opentype');
   src: url(../fonts/NotoSans-Medium.woff2) format('woff2'),
        url(../fonts/NotoSans-Medium.woff) format('woff'),
        url(../fonts/NotoSans-Medium.otf) format('opentype');
 }
@font-face {
  font-family: 'NotoSansKR'; font-style: normal; font-weight: 700;
  src: url(../fonts/NotoSans-Bold.eot) format('eot');
	src: local('※'), url(../fonts/NotoSans-Bold.eot?#iefix) format('embedded-opentype');
  src: url(../fonts/NotoSans-Bold.woff) format("woff");
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format("woff2");
}

/** RESET **/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0; vertical-align: top; letter-spacing: 0; font-size: 13px;line-height:1.8;word-break:keep-all}
fieldset,img, textarea {border: 0;outline: 0;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {display: block;}
img {max-width:100%;}
button,input { border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; padding: 0; margin: 0; outline: none;border:0; }
body {-webkit-text-size-adjust:none;}
ol, ul {list-style: none;}
address,em {font-style: normal}
h1,h2,h3,h4,h5,h6 {font-weight: 400;}
div {word-break: keep-all;}
table {
	border-collapse: collapse;
	border-spacing: 0;
	width:100%;
}
iframe {overflow: hidden; border: 0;}
input[type=text], input[type=password], input[type=number], input[type=tel], input[type=email] {
	width:100%;
	height:40px;
	padding:9px 10px;
	background-color:#f2f4f6;
	border:1px solid #f2f4f6;
	font-size:14px;
	line-height:20px;
	-webkit-appearance: none;
	&:focus {
		background-color:#fff;
		border-color:#00a8e2;
	}
}
textarea {
	width:100%;min-height:100px;padding:10px;border:1px solid #a1a1a1;
	background-color:#fff; -webkit-appearance: none;
}
input::-ms-clear {
  display: none;
}
::-webkit-input-placeholder {
	font-size: 13px;
	font-weight:300;
  color:#999;
}
::-moz-placeholder {
	font-size: 13px;
	font-weight:300;
  color:#999;
}
::-moz-placeholder {
	font-size: 13px;
	font-weight:300;
  color:#999;
}
.clearfix:after {content: ''; display: block; clear: both;}
button {cursor:pointer; border:none; margin:0; padding:0;background-color: rgba(255,255,255, 0);}
input,button,select {vertical-align:middle;}
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	text-decoration:none; -webkit-tap-highlight-color:transparent;
	font-family: 'NotoSansKR', 'Helvetica', 'Malgun Gothic', sans-serif;
	color: #000000;
  font-size: 13px;
}
select{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	width:100%;
	padding:17px 25px 17px 0;
	// border:1px solid #a1a1a1;
  border:0;
	border-radius: 0;
	font-size: 13px;
	background: {
		image: url(../images/icon/icon_down.png);
		repeat:no-repeat;
		size:9px;
		position: right center;
	}
	outline: none;
	background-color:transparent;
}
select::-ms-expand{
	display:none;
}
button {
	text-align: center;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  background: transparent;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/****** Accessibility ******/
.a11y {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.skipnavigation {
	position: relative;
	a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 0;
		z-index: 1;
		display: block;
		font-size: 0;
		background-color: #FFF;
		text-align: center;
		&:focus {
			height: 30px;
			padding: 4px 0;
			visibility: visible;
			font-size: 1em;
		}
	}
}
.noscroll {
  overflow: hidden !important;
	height: 100%;
	.wrap {
    overflow:hidden;
	}
}

/** Button **/
.btn {
	display: inline-block;
  &.btn_search {
    width:20px;
    height:20px;
    background: {
      image:url(../images/icon/ico_search.png);
      size:18px;
      repeat:no-repeat;
      position: 0 0;
    }
  }
  &.btn_filter {
    padding-right:25px;
    background: {
      image:url(../images/icon/ico_filter.png);
      size:18px;
      repeat:no-repeat;
      position: right center;
    }
	}
	&.btn_reset {
		width:15px;
		height:15px;
    background: {
      image:url(../images/common/input_reset.png);
      size:15px;
      repeat:no-repeat;
      position: center center;
    }
	}
	&.primary {
		background-image:linear-gradient(to right, #00a8e2, #0053a7);
		color:#fff;
	}
	&.default {
		background-color:#0053a7;
		color:#fff;
	}
	&_link {
		display:inline-block;
		font-size:13px;
		line-height:25px;
		border-bottom:1px solid #000;
	}
	&_wrap {
		display:flex;
		margin-bottom:40px;
		&.unset {
			display:block;
			.btn {
				display:block;			
			}
			.btn_link {
				margin-top:15px;
			}
		}
		.btn {
			flex:1;
			font-size:15px;
			line-height:40px;
			text-align:center;
			&.big {
				height:50px;
				font-size:14px;
				font-weight:700;
				line-height:50px;
			}
		}
	}
}
.dim {
  position: fixed;
  top:0;
  left:0;
  right:0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0, .5);
  z-index: 9;
}
.chkwrap {
  min-height:2rem;
  input[type=checkbox] {
    display:none;
    & + label {
      display: inline-block;
      cursor: pointer;
      min-width:100px;
      height:2rem;
      line-height: 2rem;
      padding-left:23px;
      margin-right:5px;
      background: {
        image: url(../images/common/uncheck.png);
        repeat: no-repeat;
        size:1.75rem;
        position: left center;
      }
			vertical-align: middle;
			span {
				display: inline-block;
				margin-left:3px;
				font: {
					size:12px;
					weight:300;
				};
			}
    }
    &:checked + label {
      background-image: url(../images/common/check.png);
    }
  }
}
.inpwrap {
	.inp_txt {
		margin-top:6px;
		font-size:12px;
		font-weight:300;
		line-height:1.5;
		color:#666;
	}
	.warn {
		color:#e70707;
	}
}
.frm_group {
	margin-bottom:40px;
	dt {
		margin-bottom:6px;
		&:nth-of-type(n+2) {
			margin-top:20px;
		}
	}
	li {
		&:nth-of-type(n+2) {
			margin-top:10px;
		}
	}
	label {
		font-size:13px;
		color:#666;
	}
}
.certify {
	font-size:0;
	.inpwrap {
		position:relative;
		display:inline-block;
		width:calc(100% - 100px);
		.cnt {
			position:absolute;
			top:0;
			right:10px;
			color:#00abe4;
			line-height:40px;
		}
	}
	.btn_confirm {
		min-width:100px;
		height:40px;
	}
}

/** layout **/
@media all and (max-width:960px) {
	html {
		font-size: 10px;
	}
}

html, body {height:100%;min-height:100%;}
.wrap {
	// min-height:100%;
	min-height:calc(100% - 130px);
}
h1.logo {
	display: block;
	width:81px;
	height:30px;
  margin:0 auto;
	background: {
		image:url(../images/common/logo.png);
		size:81px;
		repeat:no-repeat;
		position: 0 0;
	}
}
.header {
	min-height:50px;
  background-color: #fff;
	.row {
		position: relative;
    height:100%;
		padding:1.85rem 3rem;
	}
  .head_title {
    display: none;
  }
	.btn-navi {
		position: absolute;
		right:30px;
		top:16.5px;
    z-index: 10;
    width: 30px;
    height: 30px;
		i {
			display: block;
	    position: absolute;
	    right: 0;
	    width: 100%;
	    height: 5.00%;
	    background-color: #000000;
			&:nth-child(1) {
				top:5px;
			}
			&:nth-child(2), &:nth-child(3) {
				width:80%;
				top:14px;
			}
			&:nth-child(4) {
				top:23px;
			}
		}
	}
} // .header
.footer {
	margin-top:70px;
	background-color: #222222;
	.row {
		position: relative;
		padding:42px 55px 20px;
		* {
			color:#eeeeee;
		}
	}
	select {
		border:0;
		border-bottom:1px solid #ffffff;
		background: {
			image: url(../images/icon/ico_down.png);
			size:6px;
			repeat:no-repeat;
			position: right 5px center;
		}
	}
	.util {
		padding-bottom:30px;
		> li {
			float:left;
			padding-right:15px;
			&:last-child {
				padding-right:0;
			}
		}
		a {
			letter-spacing: -.4px;
			&.point {
				font-weight: 700;
			}
		}
		&:after {
			content: '';
			display: block;
			clear:both;
		}
	}
	.cs {
		clear:both;
		display: flex;
		padding-bottom:30px;
		> div {
			flex:1;
			&:last-child {
				text-align: right;
			}
		}
		p {
			font-size: 12px;
			font-weight: 350;
		}
		.tel {
      display: block;
      margin-top:-5px;
			font-size: 25px;
			font-weight: 700;
      letter-spacing: -.8px;
		}
		.btn-cust {
			display: inline-block;
			width:100%;
			max-width:110px;
			padding:11px 0 12px;
			border:2.5px solid #eee;
			font-size: 12px;
			text-align: center;
		}
	}
	.familysite {
		padding-bottom:30px;
	}
	.addr {
		> p {
			padding-bottom:10px;
			span {
				position: relative;
				display: inline-block;
				margin-left:10px;
				padding-left:10px;
				font-size: 12px;
				font-weight: 350;
				&:before {
					content: '';
					position: absolute;
					display: block;
					left:0;
					top:50%;
          margin-top:-4px;
					width:1px;
					height:9px;
					background-color: #eee;
				}
				&:first-child{
					margin-left:0;
					padding-left:0;
					&:before {display: none;}
				}
			}
		}
	}
	.copyr {
		padding: 20px 55px 70px;
		border-top:1px solid #4b4b4b;
		p {
			font-size: 12px;
			line-height:24px;
			color:#eee;
		}
		.btm {
			position: relative;
			padding:15px 0 10px;
			> span {
				display: block;
				font-size: 12px;
				color:#888888;
			}
			.sns {
				position: absolute;
				right:0;
				bottom:0;
				a {
					display: inline-block;
					width:25px;
					height:25px;
					margin-left:5px;
					i {
						display: block;
						width:100%;
						height:100%;
						background: {
							repeat:no-repeat;
							position: center center;
						}
					}
					&.btn-insta > i{
						background: {
							image: url(../images/icon/fico_insta.png);
							size:20px;
						}
					}
					&.btn-fb > i{
						background: {
							image: url(../images/icon/fico_fb.png);
							size:10px;
						}
					}
					&.btn-yt > i{
						background: {
							image: url(../images/icon/fico_yt.png);
							size:20px;
						}
					}
				}
			}
		}
	}
} // .footer

.fixed_menu {
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  width:100%;
	height:51px;
  height:calc(constant(safe-area-inset-bottom) + 51px);
  height:calc(env(safe-area-inset-bottom) + 51px);
  border-top:1px solid #e5e5e5;
  background-color: #fff;
	z-index: 9;
	@include transition(.6s, ease-in-out);
	&.hide {
		bottom:-52px;
	}
  .row {
    display: flex;
    height:100%;
    .menu {
      flex:1;
      height:100%;
      text-align: center;
      background: {
        size:20px;
        position: center top 6px;
        repeat:no-repeat;
      }
      &.mn01 {
        background-image: url(../images/icon/fixed_menu01.png);
        &.active {background-image: url(../images/icon/fixed_menu01_on.png);}
      }
      &.mn02 {
        background-image: url(../images/icon/fixed_menu02.png);
        &.active {background-image: url(../images/icon/fixed_menu02_on.png);}
      }
      &.mn03 {
        background-image: url(../images/icon/fixed_menu03.png);
        &.active {background-image: url(../images/icon/fixed_menu03_on.png);}
      }
      &.mn04 {
        background-image: url(../images/icon/fixed_menu04.png);
        &.active {background-image: url(../images/icon/fixed_menu04_on.png);}
      }
      a, button {
        display: block;
        width:100%;
        height: 100%;
      }
    }
    span {
      display: block;
      padding-top:30px;
      font-size: 10px;
    }
  }
} // .fixed_menu
.search_frm-input {
	> div {
		position: relative;
		.btn_reset {
			position: absolute;
			right:3rem;
			top:18px;
		}
	}
  input {
		width:100%;
		height:auto;
    border:0;
    border-bottom:1px solid #000;
    padding:16px 30px 16px;
		font-size: 14px;
		line-height:normal;
		background-color:#fff;
		&:focus {
			border-color:#000;
		}
  }
  ::-webkit-input-placeholder {
    font-size: 14px;
  }
  ::-moz-placeholder {
    font-size: 14px;
  }
  ::-moz-placeholder {
    font-size: 14px;
	}
  .btn_search {
    position: absolute;
    left:0px;
    top:18px;
  }
} //.search_frm-input
.search_layer {
  position: fixed;
  bottom:-100%;
  left:0;
  right:0;
  width:100%;
  height:calc(100vh - 112px);
  @include transition(.4s, ease-in-out);
	.dim {
		height:calc(100% - 51px);
	}
	&.active {
		bottom:52px !important;
	}
  .search_wrap {
    position: relative;
    width:100%;
    height:calc(100vh - 111px);
    padding-bottom:50px;
    background-color: #fff;
    z-index: 11;
    .row {
      padding-top:26px;
      padding-left:60px;
		}
		.btn_down {
			position: absolute;
			top:12px;
			left:50%;
			margin-left:-10px;
			width:20px;
			height:0.75rem;
			background: {
				image: url(../images/icon/icon_close-down.png);
				size:13px;
				repeat:no-repeat;
				position: center 0;
			}
			z-index: 1;
		}
    .recom_tag {
      margin-top:33px;
      > p {
        font-size: 14px;
        font-weight: 700;
      }
      > ul {
        li {
          padding-top:13px;
          p {
            display: inline-block;
						font-weight: 300;
						vertical-align: middle;
            &.num {
              padding-right:15px;
              font-weight: 700;
            }
            > span {
              display: inline-block;
              margin-left: 5px;
              font-size: 12px;
              color:#999999;
            }
          }
        }
      }
    } // .recom_tag
  }
} // .search_layer

[class*='_layer'] {
	z-index: 11;
	.dim {
    display: none;
    bottom:-100%;
  }
  &.active {
    bottom:0;
    .dim {
      bottom:0;
      display: block;
    }
  }
	.layer_head {
		position: relative;
		padding:1.70rem 3rem;
		font-size: 1.5rem;
		border-bottom:1px solid #000;
		.btn_close {
			position: absolute;
			right:3rem;
			top:2.3rem;
			width:16px;
			height:16px;
			background: {
				image: url(../images/icon/icon_close32x32.png);
				size:16px;
				repeat:no-repeat;
				position: center center;
			}
		}
	}
}
// [class*='_layer']

/* layer popup */
.layer_body {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
  display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, .7);
	&.layer_full {
		top:inherit;
		bottom:0;
		background-color: transparent;
	}
	&.layer_wide {
		.layer_wrap {
			max-width:100%;
			width:100%;
			border-radius: 0;
		}
		.layer_head .layer_title{
			border-bottom:1px solid #e1e1e1;
		}
	}
}
.layer_wrap {
	position: absolute;
	z-index: 100;
	top:50%;
	left:50%;
	width:calc(100% - 80px);
	background-color: #fff;
	opacity: 0;
	transform:translate(-50%, -50%);
	overflow-y: auto;
	-webkit-transition: visibility 0.2s 0.1s, opacity 0.2;
	-moz-transition: visibility 0.2s 0.1s, opacity 0.2;
	-ms-transition: visibility 0.2s 0.1s, opacity 0.2;
	-o-transition: visibility 0.2s 0.1s, opacity 0.2;
	transition: visibility 0.2s 0.1s, opacity 0.2;
	.btn_wrap {
		margin-bottom:0;
	}
	.btn_confirm {
		background-color:#0053a7;
		color:#fff;
	}
}
.layer_head {
	position:relative;
	background-color: #fff;
	.layer_title {
		padding:10px;
		font-size: 15px;
		line-height: 1.4;
		margin: 0;
		border-bottom:1px solid #898989;
		text-align: center;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}
.layer_close {
  position:absolute;
  top: 0;
  right: 0;
  width:20px;
  height:20px;
  background: {
    image: url(../images/icon/icon_close32x32.png);
    size:16px;
    repeat: no-repeat;
    position: center center;
  }
  border: 0;
  text-indent:-9999px;
}
.layer_cont{
	width: 100%;
	height: 100%;
	padding:30px 15px;
	> *:first-child {
		margin-top: 0;
	}
	> *:last-child {
		margin-bottom: 0;
	}
	&.center {
		text-align: center;
	}
	&.alert {
		padding:32px 8px;
		text-align:center;
		p {
			font-size:14px;
			font-weight:300;
		}
	}
}
.layer_body.is-visible {
	visibility: visible;
	.layer_wrap {
		opacity: 1;
	}
	&[role="dialog"]{
		display: block;
	}
}

.accord_wrap {
	.item {
		box-sizing: content-box;
		overflow: hidden;
	}
	.acco_head {
		display: block;
		padding-bottom:2.5rem;
		color: #000;
		text-decoration: none;
		outline: 0;
		cursor: pointer;
		.acco_target {
			display:block;
			position:relative;
			font-size:14px;
			font-weight: 700;
			outline: none;
			i {
				position: absolute;
				right:0;
				top:8px;
				display: inline-block;
				margin-top:0;
				margin-left:2px;
				line-height: inherit;
				vertical-align: middle;
				width: 0;
			  height: 0;
			  border-left: 4px solid transparent;
			  border-right: 4px solid transparent;
			  border-top: 6px solid #333333;
			}
		}
		&[aria-expanded="true"] {
			.acco_target i {
				width: 0;
				height: 0;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-bottom: 6px solid #333333;
				border-top:0;
			}
		}
	}
	[data-status="disabled"] .acco_panel{
		display: none;
	}
	.acco_panel {
		outline: 0;
		&[aria-hidden="true"] {
			display: none;
		}
	}
}
.swiper-slide {
	background: {
		repeat:no-repeat;
	}
}