@charset "utf-8";
@import "mixins";
@import "component";

.header {
	height:70px;
	&.subhead {
		position: relative;
		@include transition(.1s, ease);
		h1.logo {display: none;}
		.head {
			display: block;
			.btn_back {
				display: inline-block;
				width:28px;
				height:28px;
				background: {
					image: url(../images/icon/ico_pageback.png);
					size:17px;
					repeat:no-repeat;
					position: 0 center;
				}
			}
			h2 {
				display: inline-block;
				font-size: 15px;
			}
		}
		&._view {
			background-image:linear-gradient(to bottom, #008dcf, #006fba);
			@include transition(.2s, ease-in);
			h2 { color:#fff; }
			.head {
				.btn_back {
					background: {
						image: url(../images/icon/ico_pageback-w.png);
					}
				}
			}
		}
		&._logo {
			h2 {
				width:calc(100% - 32px);
				height:28px;
				background: {
					size:auto 18px;
					position:0 50%;
					repeat:no-repeat;
				}
			}
			.kleenex { background-image:url(../images/common/logo_kleenex.png);}
		}
	}
	// &.subhead
	&.fixed {
		position: fixed;
		top:0;
		left:0;
		right:0;
		z-index: 9;
		height: 50px;
		.head {
			position: absolute;
			width:calc(100% - 60px);
			top:50%;
			left:50%;
			@include transform(translate(-50%, -50%));
		}
		&._view {
			background-image:linear-gradient(to right, #17aded, #0950aa);
		}
	}
} // .header

/** container **/
.container {
	.row {
		padding-left:30px;
		padding-right:30px;
	}
} // .container

.page_summary {
	padding:0 30px 28px 60px;
	font-size: 14px;
	font-weight: 300;
	border-bottom:1px solid #000;
}
.view_title {
	padding:0 30px 28px 30px;
	background-image:linear-gradient(to bottom, #006fba, #0053a7);
	p {
		font-size: 20px;
		font-weight: 700;
		line-height: 1.6;
		color:#fff;
		&.date {
			padding-top:13px;
			font-size:12px;
			font-weight: 300;
		}
	}
}

/** container > search container **/
.search_cont {
	.search_frm-input {
		margin-left:60px;
		padding-bottom:30px;
		.txt {
			padding-top:15px;
			font-size: 13px;
			font-weight: 300;
			span {
				font-weight: 400;
				color:#00abe4;
			}
		}
	}
} // .search_cont
.search_result {
	border-top:1px solid #eeeeee;
} // .search_result

.filter_layer {
	position: fixed;
	top:0;
	right:-100%;
	width:calc(100% - 60px);
	height:100%;
	background-color: #fff;
	z-index: 10;
	@include transition(.4s, ease-in-out);
	&.active {
		right:0;
	}
	.filter_wrap {
		position: relative;
		height:100%;
		background-color: #fff;
		overflow-y:auto;
		z-index: 9;
	}
	.layer_cont {
		padding:3rem 0;
	}
	.accord_wrap {
		.acco_panel {
			clear:both;overflow: hidden;
		}
		.chkwrap {
			float:left;
			width:calc(100% / 2);
			margin-bottom:2rem;
		}
		.item {
			padding:0 3rem;
		}
	}

	// introduction
	.category {
		li {
			> ul { display:none; }
			&.active {
				> ul { display:block; }
				&:after {
					content:'';
					position:absolute;
					top:.7rem;
					right:0;
					width:11px;
					height:8px;
					background: {
						image:url(../images/icon/ico_check.png);
						size:100% auto;
						position:0 0;
					}
				}
			}
		}
		.depth1 {
			position:relative;
			margin-bottom:3rem;
			&.active {
				.depth2 {
					position:relative;
					display:block;
					margin-top:1.4rem;
					padding-top:1.4rem;
					border-top:1px solid #eee;
				}
			}
		}
		.depth2 {
			> li {
				position:relative;
				padding-left:2rem;
				margin-bottom:3rem;
				&:last-of-type {
					margin-bottom:2rem;
				}
				span {
					font-size:12px;
					font-weight:300;
				}
				&:before {
					content:'';
					position:absolute;
					top:7px;
					left:5px;
					width:5px;
					height:7px;
					border-left:1px solid #c3c3c3;
					border-bottom:1px solid #c3c3c3;
				}
			}
		}
		.depth3 {
			margin-top:1rem;
			padding-left:1rem;
		}
		.chkwrap {
			float:none;
			width:100%;
			input[type="checkbox"] + label {
				font-weight:300;
			}
		}
	}
}

/** member > login **/
.member {
	.row {
		margin-top:40px;
	}
	.desc {
		margin-top:-10px;
		font-size:12px;
		font-weight:300;
	}
	.login {
		.frm_group {
			margin-bottom:30px;
		}
	}
	.pw {
		display:none;
		&.active {
			display:block;
		}
		.frm_group {
			padding-top:40px;
			border-top:1px solid #eee;
		}
	}
}

/** introduction **/
.introduction {
	.item_link {
		display:flex;
		flex-wrap:wrap;
		margin:4px 0 40px;
		li {
			width:130px;
			height:30px;
			margin:8px 15px 0 0;
		}
		a {
			display:block;
			border:1px solid #0053a7;
			color:#0053a7;
			line-height:28px;
			text-align:center;
			&:after {
				content:'';
				display:inline-block;
				width:6px;
				height:9px;
				margin:-4px 0 0 5px;
				vertical-align:middle;
				background: {
					image:url(../images/icon/ico_arr_link.png);
					position:0 0;
					size:cover;
				}
			}
		}
	}
	.sort {
		.util {
			float:right;
			vertical-align:middle;
		}
		.cnt {
			display:inline-block;
			line-height:29px;
			em {
				line-height:inherit;
			}
			&:after {
				content:'';
				display:inline-block;
				width:1px;
				height:10px;
				margin:0 10px;
				background-color:#eee;
			}
		}
		.dropdown {
			position:relative;
			top:auto;
			right:auto;
		}
	}
	.product_list {
		.desc {
			padding-top:0;
		}
	}
	.accord_wrap {
		&._filter {
			.item {
				&[data-status="expanded"] {
					margin-bottom:2rem;
					border-bottom:10px solid #f2f4f6;
				}
			}
		}
		&._reference {
			padding-top:20px;
			.item {
				padding-left:20px;
				&:last-of-type {
					.acco_panel {
						padding-bottom:0;
					}
				}
			}
			.acco {
				&_head {
					padding:1.25rem 3rem 1.25rem 0;
				}
				&_target {
					font-weight:400;
				}
				&_panel {
					padding-bottom:10px;
					li {
						padding:15px 0;
						border-bottom:1px solid #eee;
						font-weight:300;
					}
				}
			}
			[class^="ico"] {
				display:inline-block;
				width:19px;
				height:19px;
				margin:0 10px;
				background: {
					size:cover;
					position:50% 50%;
					repeat:no-repeat;
				}
				vertical-align:middle;
			}
			.ico_pdf {background-image:url(../images/icon/ico_pdf.png)}
			.ico_jpg {background-image:url(../images/icon/ico_jpg.png)}
			.ico_gif {background-image:url(../images/icon/ico_gif.png)}
		}
	} 

	// view
	hr {
		height:10px;
		margin:0;
		border:none;
		background-color:#f2f4f6;
	}
	.details {
		margin-top:30px;

		// 상세 하단 슬라이드 3종
		&_slide {
			padding:40px 0;
			border-top:1px solid #eee;
			&:first-of-type {
				border-top:0;
			}
			h4 {
				font-size:14px;
				font-weight:400;
			}
			.desc {
				padding-top:4px;
				li {
					padding:0;
					font-weight:300;
				}
			}
		}
	}
	.prd {
		// 제품 이미지 slide
		&_slide {
			.figure {
				position:relative;
				padding-bottom:100%;
				overflow:hidden;
				img {
					position:absolute;
					top:50%;
					left:50%;
					transform:translate(-50%,-50%);
				}
			}
			.swiper-pagination-fraction {
				left:auto;
				right:30px;
				bottom:7px;
				width:auto;
				padding:0 8px;
				font-size:10px;
				color:#fff;
				background-color:#999;
				border-radius:.925rem;
				z-index:5;
				span {
					color:inherit;
					font-size:inherit;
					&:before {
						content:'0';
					}
				}
			}
		}

		// 상품 상세
		&_info {
			padding-bottom:30px;
			.tit {
				font-size:20px;
				font-weight:400;
			}
			.code {
				font-size:13px;
				color:#0053a7;
			}
		}

		// 기본 제원
		&_spec {
			display:flex;
			flex-wrap:wrap;
			align-items:center;
			padding:30px;
			border-top:1px solid #eee;
			dt {
				width:25%;
			}
			dd {
				width:75%;
				color:#666;
			}
			.mark {
				margin-top:15px;
			}
			[class^="ico"] {
				display:inline-block;
				width:40px;
				height:40px;
				margin-right:10px;
			}
		}

		// 제품 옵션 및 설명
		&_summary {
			padding-top:40px;
			padding-bottom:40px;
			dt {
				font-size:14px;
				font-weight:400;
			}
			.option {
				overflow:hidden;
				ul {
					display:flex;
					flex-wrap:wrap;
					margin:0 0 30px -10px;
					font-size:0;
					&.opt_color {
						li {
							min-width:85px;
							@media (max-width:359px) {
								min-width:calc(33% - 10px);
							}
						}
					}
				}
				li {
					position:relative;
					min-width:145px;
					margin:10px 0 0 10px;
					@media (max-width:359px) {
						min-width:calc(50% - 10px);
					}
				}
				input[type="radio"] {
					position:absolute;
					top:0;
					left:0;
					width:0;
					height:0;
					&:checked + label {
						border-color:#000;
						color:#000;
					}
				}
				label {
					display:block;
					padding:0 5px;
					border:1px solid #e0e0e0;
					font-size:14px;
					line-height:28px;
					text-align:center;
				}
			}
			.desc {
				li {
					padding-left:10px;
					font-size:12px;
					font-weight:300;
					text-indent:-10px;
					&:before {
						content:'- ';
					}
				}
			}
		}
	}
}

/** rental **/
.rental {
	padding-top:10px;
	h2.title {
		font-size:17px;
		font-weight:500;
	}
	.rent_write {
		position:relative;
		width:100%;
		.row {
			&.intro {
				position:absolute;
				top:78px;
				left:50%;
				width:100%;
				padding-left:6rem;
				padding-right:6rem;
				@include transform(translateX(-50%));
				> p {
					font-size:20px;
					font-weight: 300;
					line-height: 1.6;
					span {
						font-size:inherit;
						font-weight: inherit;
						line-height: inherit;
						color:#0053a7;
					}
				}
				.btn_wrap {
					margin-top:4rem;
					margin-bottom:2rem;
					.btn_rent {
						&:first-child {
							margin-right:10px;
						}
						&.active {
							background-color:#0053a7;
							font-weight: 700;
							font-size:15px;
						}
						background-color:#d1d1d1;
						color:#fff;
						font-size:14px;
						i {
							display: inline-block;
							width:11px;
							height:10px;
							margin-right:5px;
							background: {
								image: url(../images/common/btn_check.png);
								size:11px;
								repeat:no-repeat;
								position: 0 0;
							}
							vertical-align: middle;
						}
					}
				}
				.rent_type {
					display: none;
					> p {
						font-size:14px;
						font-weight: 300;
						span {
							font-size:inherit;
							font-weight: 500;
						}
					}
					&.active {
						display: block;
					}
				}
			}
			&.write {
				.frm_group {
					margin-bottom: 20px;
				}
			}
		}
	}
}
