@charset "utf-8";
@import "mixins";
@import "component";

.header {
	height:70px;
	&.subhead {
		position: relative;
		// @include transition(.1s, ease);
		h1.logo {display: none;}
		.head {
			display: block;
			.btn_back {
				display: inline-block;
				width:28px;
				height:28px;
				background: {
					image: url(../images/icon/ico_pageback.png);
					size:17px;
					repeat:no-repeat;
					position: 0 center;
				}
			}
			h2 {
				display: inline-block;
				font-size: 15px;
			}
		}
		&._view {
			background-image:linear-gradient(to bottom, #008dcf, #006fba);
			// @include transition(.2s, ease);
			h2 { color:#fff; }
			.head {
				.btn_back {
					background: {
						image: url(../images/icon/ico_pageback-w.png);
					}
				}
			}
		}
		&._logo {
			h2 {
				width:calc(100% - 32px);
				height:28px;
				background: {
					size:auto 18px;
					position:0 50%;
					repeat:no-repeat;
				}
			}
			.kleenex { background-image:url(../images/common/logo_kleenex.png);}
		}
		&._basket {
			.head {
				position: relative;
			}
			.head_cart {
				display: inline-block;
				position: absolute;
				right:0;
				top:4px;
			}
			&.fixed {
				.row {
					padding-left:0;
					padding-right:0;
				}
			}
		}
		.btn_cart {
			position: relative;
			display: inline-block;
			width:2.5rem;
			height:1.8rem;
			background: {
				image:url(../images/common/btn_cart.png);
				size:auto 1.8rem;
				repeat:no-repeat;
				position: 0 0;
			}
			.cnt {
				display: inline-block;
				position: absolute;
				right:-6px;
				top:-12px;
				width:18px;
				height:18px;
				line-height: 18px;
				padding:0 3px;
				background-color:#0053a7;
				font-size:8px;
				font-weight:500;
				color:#fff;
				text-align:center;
				border-radius: 100%;
				-webkit-border-radius: 100%;
				-moz-border-radius: 100%;
				-ms-border-radius: 100%;
				-o-border-radius: 100%;
			}
		}
	}
	// &.subhead
	&.fixed {
		position: fixed;
		top:0;
		left:0;
		right:0;
		z-index: 9;
		height: 50px;
		-webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.1);
		box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.1);
		.head {
			position: absolute;
			width:calc(100% - 60px);
			top:50%;
			left:50%;
			@include transform(translate(-50%, -50%));
		}
		&._view {
			background-image:linear-gradient(to right, #17aded, #0950aa);
		}
	}
} // .header

/** container **/
.container {
	.row {
		padding-left:30px;
		padding-right:30px;
	}
	.row_title {
		padding:40px 30px 10px;
		border-bottom:1px solid #eeeeee;
		font-size:17px;
		font-weight: 700;
	}
} // .container

.page_summary {
	padding:0 30px 28px 60px;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.6;
	border-bottom:1px solid #000;
	span {
		font-weight:400;
	}
	.btn_allv {
		display: block;
		margin-top:5px;
		vertical-align: bottom;
		span {
			display: inline-block;
			width:85px;
			height:24px;
			margin-top:5px;
			border-radius: 25px;
			color:#fff;
			font-size:12px;
			line-height: 23px;
			font-weight: 500;
			vertical-align: middle;
			background-color: #0053a7;
			text-align: center;
			i {
				display: inline-block;
				width:5px;
				height:8px;
				background: {
					image: url(../images/icon/ico_arr-wh.png);
					size:5px;
					repeat:no-repeat;
					position:center center;
				}
				margin-top:-2px;
				margin-left:4px;
				vertical-align: middle;
			}
		}
	}
}
.tab_navi {
	width:100%;
	border-bottom:1px solid #eee;
	overflow:hidden;
	overflow-x:auto;
	> ul {
		display:flex;
		li {
			width:22.22%;
			flex-shrink: 0;
			transition-property: transform;
			text-align:center;
			&.active {
				a {
					color:#0053a7;
					font-weight:500;
					border-color:#0053a7;
				}
			}
		}
		a {
			display:inline-flex;
			width:100%;
			height:100%;
			padding:15px 11px 10px;
			line-height:1.4;
			font-size:14px;
			align-items:center;
			justify-content:center;
			border-bottom:3px solid transparent;
			color:#777;
		}
	}
}
.view_title {
	padding:0 30px 28px 30px;
	background-image:linear-gradient(to bottom, #006fba, #0053a7);
	p {
		font-size: 20px;
		font-weight: 700;
		line-height: 1.6;
		color:#fff;
		&.date {
			padding-top:13px;
			font-size:12px;
			font-weight: 300;
		}
	}
}
.sign {
	&_input {
		padding-bottom:15px;
		font-weight: 300;
		span {
			display: inline-block;
			margin-bottom:3px;
			min-width:15rem;
			max-width:25rem;
			width:80%;
			vertical-align: middle;
		}
	} //.sign_input
	&_pad {
		min-height:13rem;
		max-height:15rem;
		background-color:#f2f4f6;
	}
}

.condi {
	&_list {
		li {
			clear:both;
			overflow: hidden;
			margin-bottom:2.5rem;
			p {
				float:left;
				&.gu {
					width:2.5rem
				}
				&.desc {
					width:calc(100% - 2.5rem);
					font-weight: 300;
				}
			}
		}
	}
	&_foo {
		.logo {
			display: block;
			width:100%;
			height:3.35rem;
			margin-top:40px;
			margin-bottom:20px;
			background: {
				image:url(../images/common/logo.png);
				size:90px;
				repeat:no-repeat;
				position:right 0;
			}
			text-align:right;
		}
		p {
			padding:9px 0 30px;
			border-top:1px solid #eee;
			font-size:11px;
			font-weight:300;
		}
	}
}

/** container > search container **/
.search_cont {
	margin-bottom:-70px;
	.search_frm-input {
		margin-left:60px;
		padding-bottom:30px;
		.txt {
			padding-top:15px;
			font-size: 13px;
			font-weight: 300;
			span {
				font-weight: 400;
				color:#00abe4;
			}
		}
	}
} // .search_cont
.search_result {
	padding-bottom:50px;
	border-top:1px solid #eeeeee;
	.nodata {
		padding:50px 0;
	}
} // .search_result
.product_tree {
	dt {
		padding-bottom:7px;
		font-size:14px;
		border-bottom:1px solid #eeeeee;
		i {
			display: inline-block;
			width:20px;
			height:20px;
			background:{
				repeat:no-repeat;
				size:cover;
				position:0 0;
			}
			vertical-align: middle;
		}
	}
	dd {
		padding:10px 10px 20px 20px;
		.item {
			position:relative;
			float:left;
			width:calc(50% - 10px);
			padding-left:10px;
			padding-top:7px;
			padding-bottom:7px;
			a {
				color:#666666;
				font-size:12px;
				font-weight: 300;
			}
			&:before {
				content: '';
				position: absolute;
				left:0;
				top:48%;
				display: block;
				width:2px;
				height:2px;
				background-color:#7fa9d3;
			}
		}
		&:after {
			content: '';
			display: block;
			clear:both;
		}
	}
	.ptype01 {
		i {
			background-image:url(../images/icon/ico_ptype01.png);
			background-size:16px;
		}
	}
	.ptype02 {
		i {
			background-image:url(../images/icon/ico_ptype02.png);
			background-size:15px;
		}
	}
	.ptype03 {
		i {
			background-image:url(../images/icon/ico_ptype03.png);
			background-size:13px;
		}
	}
	.ptype04 {
		i {
			background-image:url(../images/icon/ico_ptype04.png);
			background-size:16px;
		}
	}
	.ptype05 {
		i {
			background-image:url(../images/icon/ico_ptype05.png);
			background-size:14px;
		}
	}
} //.product_tree

.filter_layer {
	position: fixed;
	top:0;
	right:-100%;
	width:calc(100% - 100px);
	height:100%;
	background-color: #fff;
	z-index: 10;
	@include transition(.2s, ease-in);
	&.active {
		right:0;
	}
	.filter_wrap {
		position: relative;
		height:100%;
		background-color: #fff;
		overflow-y:auto;
		z-index: 9;
	}
	.layer_head {
		position:fixed;
		width:calc(100% - 100px);
		padding:2.1rem 3rem;
		background-color:#fff;
		z-index:1;
	}
	.layer_cont {
		padding:10rem 0 3rem;
	}
	.accord_wrap {
		.acco_panel {
			clear:both;overflow: hidden;
		}
		.chkwrap {
			margin-bottom:1.8rem;
			i {
				display: inline-block;
				width:10px;
				height:10px;
				margin-left:3px;
				margin-right:3px;
				background:{
					image:url(../images/icon/icon_depth.png);
					size:5px;
					repeat:no-repeat;
					position:center top 0;
				}
				vertical-align: middle;
			}
		}
		.item {
			padding:0 2.6rem .5rem;
			&.item_category {
				margin-bottom:2rem;
				border-bottom: 10px solid #f2f4f6;
				.cate_head {
					font-size: 14px;
					font-weight: 700;
					* {
						font-size:14px;
					}
				}
				.cate_panel {
					margin-top:15px;
				}
			}
		}
	}

	// introduction
	.category {
		li {
			font-size:13px;
			span {
				font-weight:300;
			}
			> ul { display:block; }
			&.active {
				> ul { display:block; }
			}
		}
		.depth1 {
			position:relative;
			margin-bottom:3rem;
			font-size:13px;
			span {
				font-size:13px;
			}
			&.active {
				.depth2 {
					position:relative;
					display:block;
					margin-top:1.4rem;
					padding-top:1.4rem;
					border-top:1px solid #eee;
				}
			}
		}
		.depth2 {
			margin-top:1rem;
			> li {
				position:relative;
				padding-left:2rem;
				margin-bottom:2rem;
				&:last-of-type {
					margin-bottom:3rem;
				}
				span {
					font-size:12px;
				}
				&:before {
					content:'';
					position:absolute;
					top:7px;
					left:5px;
					width:5px;
					height:7px;
					border-left:1px solid #c3c3c3;
					border-bottom:1px solid #c3c3c3;
				}
			}
		}
		.depth3, .depth4 {
			margin-top:1rem;
			// padding-left:1rem;
			> li {
				position:relative;
				padding-left:2rem;
				margin-bottom:2rem;
				font-weight: 300;
				color:#666666;
				a {
					color:#666666;
				}
				&.active {
					color:#0053a7;
					font-weight: 450;
					> a {
						color:#0053a7;
					}
				}
				&:before {
					content:'';
					position:absolute;
					top:7px;
					left:5px;
					width:5px;
					height:7px;
					border-left:1px solid #c3c3c3;
					border-bottom:1px solid #c3c3c3;
				}
			}
		}
		.depth4 { 
			> li {
				margin-bottom:1rem;
				
			}
		}
		.chkwrap {
			float:none;
			width:100%;
			input[type="checkbox"] + label {
				font-weight:300;
			}
		}
	}
}

/** member > login **/
.member {
	.page_summary {
		padding: 0 30px 28px 30px;
	}
	.row {
		margin-top:40px;
	}
	.desc {
		margin-top:-10px;
		font-size:12px;
		font-weight:300;
	}
	.login {
		.frm_group {
			margin-bottom:30px;
		}
	}
	.pw {
		display:none;
		&.active {
			display:block;
		}
		.frm_group {
			padding-top:40px;
			border-top:1px solid #eee;
		}
	}
}

/** introduction **/
.introduction {
	.page_summary + .etc {
		display: block;
		margin-top:15px;
		margin-left:60px;
		p {
			margin-bottom:7px;
			font-weight: 300;
			font-size:14px;
			color:#666666;
		}
		.btn {
			width:120px;
			height:24px;
			border-radius: 25px;
			line-height: 23px;
			background-color: #7b7b7b;
			color:#fff;
			text-align: center;
			i {
				display: inline-block;
				width: 5px;
				height: 8px;
				background-image: url(../images/icon/ico_arr-wh.png);
				background-size: 5px;
				background-repeat: no-repeat;
				background-position: center center;
				margin-top: -2px;
				margin-left: 4px;
				vertical-align: middle;
			}
		}
	}

	.breadcrumb {
		padding:0 30px;
		ul {
			li {
				display:inline-block;
				padding-left:18px;
				font-size:12px;
				font-weight:300;
				color:#666;
				background: {
					image:url(../images/icon/ico_bread.png);
					repeat:no-repeat;
					position:6px 50%;
					size:6px auto;
				}
				&:first-of-type {
					padding-left:0;
					margin-left:0;
					color:#000;
					background:none;
				}
			}
		}
	}
	.board_list {
		.info {
			.title {
				span {
					display: inline-block;
					margin-left: 5px;
					margin-top: 4px;
					color: #666666;
					font-size: 11px;
					font-weight: 400;
					i {
						display: inline-block;
						width: 5px;
						height: 8px;
						background-image: url(../images/icon/ico_arr-bk.png);
						background-size: 4px;
						background-repeat: no-repeat;
						background-position: center center;
						margin-top: -2px;
						margin-left: 4px;
						vertical-align: middle;
					}
				}
			}
			.desc {
				line-height: 19px;
			}
		}
	}
	.item_link {
		display:flex;
		flex-wrap:wrap;
		margin:10px 0 40px;
		li {
			width:130px;
			height:30px;
			margin:8px 15px 0 0;
		}
		a {
			display:block;
			border:1px solid #0053a7;
			color:#0053a7;
			line-height:28px;
			text-align:center;
			&:after {
				content:'';
				display:inline-block;
				width:6px;
				height:9px;
				margin:-3px 0 0 5px;
				vertical-align:middle;
				background: {
					image:url(../images/icon/ico_arr_link.png);
					position:0 0;
					size:cover;
				}
			}
		}
	}
	.sort {
		.util {
			float:right;
			vertical-align:middle;
		}
		.cnt {
			display:inline-block;
			line-height:29px;
			em {
				color:#00a8e2;
				line-height:inherit;
			}
			&:after {
				content:'';
				display:inline-block;
				width:1px;
				height:10px;
				margin:0 10px;
				background-color:#eee;
			}
		}
		.dropdown {
			position:relative;
			top:auto;
			right:auto;
		}
	}
	.product_list {
		.desc {
			padding-top:0;
		}
	}
	.accord_wrap {
		&._filter {
			.item {
				&[data-status="expanded"] {
					margin-bottom:2rem;
					border-bottom:10px solid #f2f4f6;
				}
			}
		}
		&._reference {
			padding-top:20px;
			.item {
				padding-left:20px;
				&:last-of-type {
					.acco_panel {
						padding-bottom:0;
					}
				}
			}
			.acco {
				&_head {
					padding:1.25rem 3rem 1.25rem 0;
				}
				&_target {
					font-weight:400;
				}
				&_panel {
					padding-bottom:10px;
					li {
						padding:15px 0;
						border-bottom:1px solid #eee;
						font-weight:300;
					}
				}
			}
			[class^="ico"] {
				display:inline-block;
				width:19px;
				height:19px;
				margin:0 10px;
				background: {
					size:cover;
					position:50% 50%;
					repeat:no-repeat;
				}
				vertical-align:middle;
			}
			.ico_pdf {background-image:url(../images/icon/ico_pdf.png)}
			.ico_jpg {background-image:url(../images/icon/ico_jpg.png)}
			.ico_gif {background-image:url(../images/icon/ico_gif.png)}
		}
	}

	// view
	.details {
		margin-top:30px;

		// 상세 하단 슬라이드 3종
		&_slide {
			padding:40px 0;
			border-top:1px solid #eee;
			&:first-of-type {
				border-top:0;
			}
			h4 {
				margin-bottom:30px;
				font-size:14px;
				font-weight:400;
			}
			.img {
				position:relative;
				padding-top:100%;
				overflow:hidden;
				background: {
					image: url(../images/common/default_image.png);
					size:cover;
					position: center 0;
					repeat:no-repeat;				
				};
				img {
					position:absolute;
					top:50%;
					left:50%;
					transform:translate(-50%,-50%);
				}
			}
			.desc {
				padding-top:4px;
				li {
					padding:0;
					font-weight:300;
				}
			}
		}
	}
	.prd {
		// 제품 이미지 slide
		&_slide {
			.figure {
				position:relative;
				padding-bottom:100%;
				overflow:hidden;
				img {
					position:absolute;
					top:50%;
					left:50%;
					transform:translate(-50%,-50%);
				}
				video, .youtube_vod {
					position:absolute;
					top:50%; left:50%;
					max-width:100%;min-width:100%; min-height:100%;
					transform: translate(-50%, -50%);
				}
				.video_util {
					position: absolute;top:0;
					width:100%;height:100%;
					overflow: hidden;
					button.btn_play {
						> span {
							display: block;
							position: absolute;
							top:50%; left:50%;
							min-width:50px; min-height:50px;
							transform: translate(-50%, -50%);
							background: {
								image: url(../images/common/btn_play.png);
								size:cover;
								position: center 0;
								repeat:no-repeat;				
							};
						}
						&.stop {
							> span {
								background: {
									image: url(../images/common/btn_stop.png);
								}
							}
						}
					}
				}
			}
			.swiper-pagination-fraction {
				left:auto;
				right:30px;
				bottom:7px;
				width:auto;
				padding:0 8px;
				font-size:10px;
				color:#fff;
				background-color:#999;
				border-radius:.925rem;
				z-index:5;
				span {
					color:inherit;
					font-size:inherit;
					&:before {
						content:'0';
					}
				}
			}
		}

		// 상품 상세
		&_info {
			padding-bottom:25px;
			.tit {
				font-size:20px;
				line-height:1.5;
				font-weight:500;
				margin-bottom:12px;
				&_brand {
					font-size:17px;
					font-weight:300;
				}
			}
			.code {
				display:inline-block;
				font-size:13px;
				font-weight:400;
				line-height: 1;
				color: #0053a7;
				border:1px solid #0053a7;
				border-radius: 10px;
				padding: 2.5px 7.5px 3.5px;
				margin: 0 7.5px 7.5px 0;
			}
			.etc {
				display: block;
				margin-top:5px;
				p {
					margin-bottom:7px;
					font-weight: 300;
					font-size:12px;
					color:#666666;
				}
				.btn {
					width:120px;
					height:24px;
					border-radius: 25px;
					line-height: 23px;
					background-color: #7b7b7b;
					color:#fff;
					text-align: center;
					i {
						display: inline-block;
						width: 5px;
						height: 8px;
						background-image: url(../images/icon/ico_arr-wh.png);
						background-size: 5px;
						background-repeat: no-repeat;
						background-position: center center;
						margin-top: -2px;
						margin-left: 4px;
						vertical-align: middle;
					}
				}
			}
		}

		// 기본 제원
		&_spec {
			display:flex;
			flex-wrap:wrap;
			padding:25px 30px;
			border-top:1px solid #eee;
			dt {
				width:110px;
			}
			dd {
				width:calc(100% - 110px);
				color:#666;
				font-weight: 300;
			}
		}

		&_mark {
			display:flex;
			flex-wrap:wrap;
			align-items:center;
			padding-bottom:30px;
			dt {
				margin-right:24px;
			}
			[class^="ico"] {
				display:inline-block;
				width:40px;
				height:40px;
				margin-right:10px;
			}
		}

		// 제품 옵션 및 설명
		&_summary {
			padding-top:40px;
			padding-bottom:40px;
			.option {
				overflow:hidden;
				dt {
					font-size:14px;
					font-weight:500;
				}
				ul {
					display:flex;
					flex-wrap:wrap;
					margin:0 0 30px -10px;
					font-size:0;
				}
				li {
					position:relative;
					margin:10px 0 0 10px;
					@media (max-width:359px) {
						min-width:calc(50% - 10px);
					}
				}
				input[type="radio"] {
					position:absolute;
					top:0;
					left:0;
					width:0;
					height:0;
					&:checked + label {
						border-color:#000;
						color:#000;
					}
				}
				label {
					display:block;
					min-width:85px;
					padding:0 18px;
					border:1px solid #e0e0e0;
					font-size:14px;
					line-height:28px;
					text-align:center;
				}
			}
			.desc {
				dt {
					margin-bottom:10px;
				}
				dd {
					font-size:12px;
					font-weight:300;
					word-break: break-all;
				}
				ul {
					margin-bottom:30px;
					li {
						position: relative;
						padding-left:13px;
						font-size:inherit;
						// text-indent:-10px;
						&:before {
							content:'·';
							position: absolute;
							left:0;
							top:3px;
							display: block;
						}
					}
				}
			}
		}

		// 제품라인업
		&_lineup {
			padding:40px 0;
			h4 {
				font-size:14px;
				font-weight:500;
			}
			.desc {
				margin-bottom:20px;
				font-size:12px;
				font-weight:300;
				color:#666;
			}
			a {
				display:block;
				text-align:center;
			}
		}
	}
	.innov_slide {
		padding:40px 0;
		margin-bottom:50px;
		h4 {
			margin-bottom:20px;
			font-size:15px;
			font-weight:400;
		}
		.swiper-container {
			.figure {
				position: relative;
				width:100%;
				padding-top:100%;
				background: {
					image: url(../images/common/default_image.png);
					size:cover;
					position: center 0;
					repeat:no-repeat;				
				};
				overflow: hidden;
				img {
					position: absolute;
					top:50%;
					left:50%;
					// width:100%;
					height:100%;
					max-width:inherit;
					@include transform(translate(-50%, -50%));
				}
			}
			.info {
				margin-top:10px;
				.title {
					font-size:14px;
					min-height:4.6rem;
					@include ellipse(2);
				}
			}
		}
	}
	.borad_wrap {
		.innov_slide {
			padding:0;
			border-bottom:1px solid #eee;
			.swiper-container {
				padding:0 0 40px 60px;
			}
		}
	}
}
.layer_body.lineuppopup {
	.layer_wrap {
		overflow-y: hidden;
	}
	.layer_cont {
		height: calc(100% - 150px);
		padding:0;
		overflow-y: auto;
		.img {
			margin-top:-22px;
		}
	}
	.breadcrumb {
		padding:0;
	}
	.row {
		margin:0 -30px;
		padding:30px;
		& + .row {
			border-top:10px solid #f2f4f6;
		}
	}
	.cate {
		margin-bottom:25px;
		font-size:14px;
		font-weight:700;
		span {
			font-size:13px;
			font-weight:400;
			color:#666;
		}
	}
	.subcate {
		margin:10px 0;
		font-size:11px;
		span {
			font-size:inherit;
			color:#666;
		}
	}
	.item_list {
		display:flex;
		flex-wrap:wrap;
		li {
			width:25%;
		}
	}
} // lineup popup

/** order **/
.order {
	// padding-top:10px;
	h2.title {
		margin-bottom:15px;
		font-size:17px;
		font-weight:500;
	}
	.tab_navi {
		> ul {
			li {
				width: auto;
				a  {
					padding:15px 15px 10px
				}
			}
		}
	}
	.rent_write {
		position:relative;
		width:100%;
		.row_title + .row { margin-top:20px; }
		.row {
			margin-top:40px;
			&.intro {
				position:absolute;
				top:5rem;
				left:50%;
				width:100%;
				margin-top:0;
				padding-left:6rem;
				padding-right:6rem;
				@include transform(translateX(-50%));
				> p {
					font-size:20px;
					font-weight: 300;
					line-height: 1.6;
					span {
						font-size:inherit;
						font-weight: inherit;
						line-height: inherit;
						color:#0053a7;
					}
				}
				.btn_wrap {
					margin-top:4rem;
					margin-bottom:2rem;
					.btn_rent {
						&:first-child {
							margin-right:10px;
						}
						&.active {
							background-color:#0053a7;
							font-weight: 700;
							font-size:15px;
						}
						background-color:#d1d1d1;
						color:#fff;
						font-size:14px;
						i {
							display: inline-block;
							width:11px;
							height:10px;
							margin-right:5px;
							background: {
								image: url(../images/common/btn_check.png);
								size:11px;
								repeat:no-repeat;
								position: 0 0;
							}
							vertical-align: middle;
						}
					}
				}
				.rent_type {
					display: none;
					> p {
						font-size:14px;
						font-weight: 300;
						span {
							font-size:inherit;
							font-weight: 500;
						}
					}
					&.active {
						display: block;
					}
				}
			} //&.intro {
			&.write {
				// margin-top:40px;
				margin-bottom:40px;
				&:first-child {
					margin-top:0;
				}
				.frm_group {
					margin-bottom: 30px;
					dd {
						position:relative;
					}
					.btn_wrap {
						margin-bottom:0;
						& + .warn {
							padding-top:15px;
						}
					}
					&:last-child {
						margin-bottom:0;
					}
				}
				.btn_rewrt {
					position: absolute;
					top:1px;
					right:0;
					color:#999999;
					i {
						display: inline-block;
						width:11px;
						height:13px;
						margin-right:5px;
						background:{
							image:url(../images/icon/ico_refersh.png);
							size:11px;
							repeat:no-repeat;
							position:0 0;
						}
						vertical-align: middle;
					}
				}
				&.re_row {
					.reason {
						min-height:100px;
						margin-bottom:10px;
						padding:10px;
						background-color:#f2f4f6;
						font-size:14px;
						line-height: 1.4;
						color:#999999;
					}
				}
				&.temp {
					.btn_wrap {
						margin-top:-10px;
					}
				}
				.btn_temp {
					background-color:#888888;
					color:#fff;
				}
				.btn_docdown {
					padding:2px 8px 3px;
					border-radius: 18px;
					font-size:13px;
					font-weight: 500;
					background-color: #00a8e2;
					color:#fff;
				}
			} // &.write {
			// &.contract_row {
			// }
			.item_list {
				margin-top:3.3rem;
				.item {
					position: relative;
					padding-bottom:1.35rem;
					margin-bottom:1.35rem;
					border-bottom:1px solid #eeeeee;
					.btn_del {
						position:absolute;
						display: block;
						right:0;
						top:2rem;
						width:20px;
						height:20px;
						background:{
							image:url(../images/common/btn_gdel.png);
							size:12px;
							repeat:no-repeat;
							position:center center;
						}
						z-index:9;
					}
					.code {
						font-weight: 300;
					}
					.name {
						float:left;
						font-weight: 500;
					}
					.qty {
						float:right;
						font-weight: 300;
					}
					.inpwrap {
						position:relative;
						clear:both;
						overflow: hidden;
						padding-top:7px;
						.unit {
							top:15px;
						}
					}
					.desc {
						margin-top:10px;
						color:#666666;
						font-weight: 300;
						span {
							color:#0053a7;
							font-weight: 500;
						}
					}
					.btn_wrap {
						clear:both;
						padding-top:10px;
						border-top:1px solid #eeeeee;
					}
				}
				&._view {
					margin-top:10px;
					.item {
						position: relative;
						border-bottom:0;
						&:last-child {
							padding-bottom:0;
							margin-bottom:0;
						}
						.name {
							// float:left;
							float:none;
							// padding-bottom:20px;
							padding-bottom:0;
						}
						.qty {
							// float:right;
							float:none;
							font-weight: 300;
							padding-bottom:10px;
						}
						.btn_wrap {
							clear:both;
							padding-top:3px;
							// border-top:1px solid #eeeeee;
							border:0;
							position: absolute;
							right:0;
							top:0;
						}
					}
				}
			} //.item_list
			.mix_half {
				._unit {
					input {padding-right:25%;}
				}
			}
		}
		.sel_tab {
			// display:flex;
			.tabs {
				// flex:1;
				float:left;
				width:calc((100% / 2) - 3px);
				position:relative;
				margin:0;
				margin-right:6px;
				margin-bottom:6px;
				text-align:center;
				// padding-top:18%;
				padding-top:13%;
				background-color:#c0cfde;
				border-left:0;
				color:#000;
				&:nth-child(2n) {margin-right:0;}
				&:nth-child(2n+1) {clear:left;}
				&:last-child {margin-right:0;}
				&.active {
					background-color:#0053a7;
					a {
						color:#fff;
						&:before {
							content: '';
							display: inline-block;
							width: 11px;
							height: 10px;
							margin-right: 5px;
							background-image: url(../images/common/btn_check.png);
							background-size: 11px;
							background-repeat: no-repeat;
							background-position: 0 0;
							vertical-align: middle;
						}
					}
				}
				a {
					position:absolute;
					width:100%;
					top:50%;
					left:50%;
					@include transform(translate(-50%, -50%));
					color:#fff;
					line-height: 1.4;
				}
				br {
					display:none;
				}
			}
			&:after {
				@extend %clearer;
			}
		}
		.total {
			position:relative;
			> div {
				&:after {
					@extend %clearer;
				}
			}
			.tit {
				display: inline-block;
				margin-top:3px;
				vertical-align: middle;
			}
			.price {
				display: inline-block;
				margin-left:5px;
				font-weight: 700;
				font-size:17px;
				color:#0053a7;
				vertical-align: middle;
				.unit {
					position:relative;
					right:inherit;
					top:inherit;
					display: inline-block;
					margin-left:3px;
					font-weight: 400;
					margin-top:4px;
				}
			}
			&._pred {
				margin-top:15px;
				padding-top:10px;
				border-top:1px solid #666666;
				.price {
					font-size:14px;
				}
			}
			.btn_wrap {
				position: absolute;
				right:0;
				top:0;
			}
		}
		.btn_list-down {
			position: absolute;
			top:1px;
			right:0;
			color:#666666;
			&:after {
				content: '';
				display: inline-block;
				width: 5px;
				height: 8px;
				margin-left:3px;
				margin-top:-2px;
				background: url(../images/icon/ico_arr-bk.png) 50% 50%/cover;
				vertical-align: middle;
			}
		}

		.btn_wrap {
			.btn_plus {
				width:35px;
				height:35px;
				background: {
					size:35px;
					repeat:no-repeat;
					position:0 0;
				}
				border:0;
				text-indent: -9999px;
				background-image: url(../images/common/btn_line-plus.jpg);
				& + .btn_delete {
					margin-left:5px;
				}
			}
			.btn_delete {
				width:35px;
				height:35px;
				background: {
					size:35px;
					repeat:no-repeat;
					position:0 0;
				}
				border:0;
				text-indent: -9999px;
				background-image: url(../images/common/btn_line-minus.jpg);
				& + .btn_plus {
					margin-left:5px;
				}
			}
			
		}
	} //.rent_write
	.product_list._kit {
		.pname {
			min-height:47px;
			max-height:47px;
		}
		.etc {
			position: relative;
			padding:0 5px 8px;
			margin-bottom:5px;
			border-bottom:1px solid #eeeeee;
			.bedge {
				display:inline-block;
				padding:0 4px;
				background-color:#e9e9ea;
				border-radius: 4px;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				-ms-border-radius: 4px;
				-o-border-radius: 4px;
				font-size:10px;
			}
		}
		.btn_cart {
			display: inline-block;
			position: absolute;
			right:10px;
			top:0;
			width:2.5rem;
			height:1.8rem;
			background: {
				image:url(../images/common/btn_cart.png);
				size:auto 1.8rem;
				repeat:no-repeat;
				position: 0 0;
			}
		}
	}
} //.order
.kit_wrap {
	.figure {
		text-align:center;
	}
	.details {
		margin-top:30px;
		&_slide {
			padding:40px 0;
			border-top:1px solid #eee;
			&:first-of-type {
				border-top:0;
			}
			h4 {
				font-size:14px;
				font-weight:400;
				> p {
					font-size:12px;
					font-weight: 300;
					span {
						font-size:inherit;
						color:#0053a7;
						font-weight: 500;
					}
				}
			}
			.desc {
				padding-top:4px;
				li {
					padding:0;
					font-weight:300;
				}
			}
		}
		.prd {
			&_info {
				padding-bottom:30px;
				.tit {
					font-size:20px;
					font-weight:400;
				}
				.code {
					font-size:13px;
					color:#0053a7;
				}
			}
			&_spec {
				display:flex;
				flex-wrap:wrap;
				padding:30px 30px 15px;
				border-top:1px solid #eee;
				dt {
					width:110px;
				}
				dd {
					width:calc(100% - 110px);
					color:#666;
					font-weight: 300;
				}
			}
			&_summary {
				padding-top:40px;
				padding-bottom:40px;
				.option {
					overflow:hidden;
					dt {
						font-size:14px;
						font-weight:500;
					}
					ul {
						display:flex;
						flex-wrap:wrap;
						margin:0 0 30px -10px;
						font-size:0;
					}
					li {
						position:relative;
						margin:10px 0 0 10px;
						@media (max-width:359px) {
							min-width:calc(50% - 10px);
						}
					}
					input[type="radio"] {
						position:absolute;
						top:0;
						left:0;
						width:0;
						height:0;
						&:checked + label {
							border-color:#000;
							color:#000;
						}
					}
					label {
						display:block;
						min-width:85px;
						padding:0 18px;
						border:1px solid #e0e0e0;
						font-size:14px;
						line-height:28px;
						text-align:center;
					}
				}
				.desc {
					dt {
						margin-bottom:10px;
					}
					dd {
						font-size:12px;
						font-weight:300;
					}
					ul {
						margin-bottom:30px;
						li {
							padding-left:10px;
							font-size:inherit;
							text-indent:-10px;
							&:before {
								content:'- ';
							}
						}
					}
				}
			}
		}
	}
}//.kit_wrap
[class*='basket_'] {
	.btn_delete {
		display:inline-block;
		position:absolute;
		right:30px;
		top:0;
		color:#666666;
		i {
			display: inline-block;
			width:18px;
			height:18px;
			margin-right:5px;
			background: {
				image:url(../images/common/btn_bin.png);
				size:1.75rem;
				repeat:no-repeat;
				position:0 0;
			}
			vertical-align: middle;
		}
	}
}
.basket_head {
	padding-bottom:15px;
	border-bottom:1px solid #eeeeee;
	.row {
		position: relative;
	}
}
.basket_list {
	.item {
		padding:4.0rem 0 2.75rem;
		border-bottom:1px solid #eeeeee;
		&:last-child {
			border-bottom:0;
		}
		.chkwrap {
			width:calc(100% - 65px);
		}
	}
	.title {
		position:relative;
		.btn_delete {
			right:0;
		}
	}
	.figuer {
		position: relative;
		padding-top:10px;
		.img {
			width:14.5rem;
			margin-right:10px;
		}
	}
	.qty {
		position: absolute;
		left:15.5rem;
		top:50%;
		@include transform(translateY(-50%));
		width:calc((100% - 14.5rem) - 10px);
		overflow:hidden;
		dt {
			padding-bottom:7px;
			color:#666666;
		}
		.radiowrap {
			display: inline-block;
			input[type=radio] + label {
				min-width:45px;
			}
		}
	}
	.desc {
		display:flex;
		flex-wrap:wrap;
		margin-top:10px;
		dt {
			width:100px;
			font-size:12px;
		}
		dd {
			width:calc(100% - 100px);
			font-size:12px;
			color:#666666;
		}
	}
}
// .basket_
.layer_body.rentpopup {
	.layer_cont {
		padding:20px 0;
		* {
			line-height: 1.5;
		}
		.desc {
			padding:0 30px 15px;
			font-size:14px;
			font-weight: 300;
			p {
				color:#666666;
				font-size:12px;
				font-weight: 300;
			}
		}
	}
	.tab_navi {
		width: 100%;
		padding-bottom:10px;
    overflow: hidden;
		overflow-x: auto;
		> ul {
			display: flex;
			li {
				flex-shrink: 0;
				transition-property: transform;
				&.active {
					a {
						color:#0053a7;
						font-weight:500;
						border-color:#0053a7;
					}
				}
			}
			a {
				display:inline-flex;
				width:100%;
				height:100%;
				padding:15px 11px 10px;
				line-height:1.4;
				align-items:center;
				justify-content:center;
				border-bottom:3px solid transparent;
			}
		}
		& + .tbl_list {
			margin-top:-10px;
		}
	}
} //.rentpopup
.layer_body.stockpopup {
	.layer_cont {
		padding-bottom:5px;
	}
	.desc {
		font-size:14px;
		font-weight:300;
		text-align:center;
	}
	.stk_list {
		max-height: 250px;
		margin-top:25px;
		padding-bottom:20px;
		overflow-y:auto;
		background-color:#f7f8f9;
		li {
			padding:20px 20px 0;
			> p {
				padding-bottom:6px;
				.code {
					color:#0053a7;
					font-weight: 700;
				}
			}
			.elm {
				margin-top:5px;
				&:first-child{
					margin-top:0;
				}
				dt, dd {
					float:left;
					width:50%;
					font-size:12px;
				}
				dt {
					color:#666666;
				}
				dd {
					font-size:14px;
					font-weight: 700;
					text-align:right;
					.unit {
						display: inline-block;
						font-weight: 300;
						font-size:12px;
						vertical-align: middle;
					}
				}
				&:after { @extend %clearer; }
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
			&:after {
				content: '';
				display: block;
				width:100%;
				height:1px;
				margin:20px auto 0;
				background-color:#eeeeee;
			}
		}
	}
} // .layer_body.stockpopup

/** partner **/
.partner {
	hr + .row {
		margin-top:40px;
	}
	.row_title + .row {
		margin-top:20px;
	}
	.tit_wrap {
		position:relative;
		margin-bottom:10px;
		.title {
			font-size:17px;
			font-weight:500;
		}
		.btn_send {
			position:absolute;
			top:3px;
			right:0;
			&:after {
				content:'';
				display:inline-block;
				width:5px;
				height:8px;
				margin:-2px 0 0 8px;
				vertical-align:middle;
				background:url(../images/icon/ico_arr-bk.png) no-repeat 50% 50% / cover;
			}
		}
	}
	.info {
		&_default {
			.frm_group {
				margin-bottom:50px;
			}
		}
		&_sub {
			.frm_group {
				margin-bottom:30px;
				& + .frm_group {
					padding-top:30px;
					border-top:1px solid #eee;
				}
			}
		}
	}
	.with_btn {
		font-size:0;
		input {
			display:inline-block;
			width:calc(100% - 100px);
		}
		.btn_confirm {
			min-width:100px;
			height:40px;
		}
	}
	.mail {
		display:flex;
		align-items:center;
		input {
			width:calc(50% - 10px);
		}
		span {
			width:20px;
			text-align:center;
		}
		& + .mail {
			margin-top:10px;
		}
	}
	.mix_group {
		margin-bottom:26px;
		.frm_group {
			margin-bottom:14px;
		}
	}
	.tbl_list {
		margin:0 -30px 40px;
		.warn {
			margin-top:10px;
			padding:0 30px;
		}
		.code {
			font-weight:300;
		}
		& + .more_view {
			margin-top:-20px;
			background-color:#ebebeb;
		}
	}
	.order_num {
		margin-bottom:20px;
		padding-bottom:10px;
		font-size:12px;
		font-weight:300;
		color:#666;
		border-bottom:1px solid #eee;
		dt {
			float:left;
		}
		dd {
			float:right;
			font-size:14px;
			font-weight:400;
			color:#0053a7;
		}
		&:after {
			@extend %clearer;
		}
	}
	.frm_group .date.single {
		margin-top:-10px;
	}

	// search
	.search_order {
		display:flex;
		align-content:center;
		margin:20px 30px;
		select {
			width:31.66666666667%;
			padding:9px 10px;
			border:1px solid #000;
			background-position:right 10px center;
		}
		.inpwrap {
			position:relative;
			width:65%;
			margin-left:auto;
			input[type="text"] {
				padding-right:40px;
			}
		}
		.btn_search {
			position:absolute;
			top:10px;
			right:10px;
		}
	}

	// order list
	.order_list {
		margin-bottom:-70px;
		padding-bottom:70px;
		background-color:#f5f5f5;
		.filter {
			float:right;
		}
		.desc {
			position:relative;
			clear:both;
			font-size:12px;
			padding-left:24px;
			text-indent:-24px;
			color:#666;
			font-weight:300;
			&:before {
				content:'';
				display:inline-block;
				width:15px;
				height:15px;
				margin-right:8px;
				vertical-align:middle;
				background:url(../images/icon/ico_info.png) no-repeat center center / cover;
			}
			em {
				color:#0053a7;
				font-weight:400;
				font-size:inherit;
			}
			span {
				display:block;
				font-size:inherit;
				text-indent:0;
				color:#999;
			}
		}
		.item {
			background-color:#fff;
		}
		&.type2 {
			> .desc {
				padding-top:20px;
			}
		}
	}
	.rental {
		.tbl_list {
			margin-bottom:20px;
		}
		.btn_wrap {
			margin-bottom:10px;
		}
	}
	.forecast {
		.inpwrap {
			.subtit {
				width:110px;
			}
			input[type="text"] {
				width:calc(100% - 150px);
			}
			.unit {
				width:40px;
			}
		}
	}
	.feedback {
		.frm_group {
			margin-bottom:20px;
		}
		.sel_wrap .sel p {
			background-color: #c0cfde;
		}
	}
	.reason {
		.frm_group {
			margin-bottom:30px;
			& + .frm_group {
				padding-top:30px;
				border-top:1px solid #eee;
			}
		}
	}
	.total {
		padding:13px 0;
		border-bottom:1px solid #eee;
		&:after {
			@extend %clearer;
		}
		.tit {
			float:left;
			width:30%;
		}
		.price {
			float:left;
			width:70%;
			font-weight: 700;
			text-align:right;
			.unit {
				position:relative;
				right:inherit;
				top:inherit;
				display: inline-block;
				margin-left:3px;
				font-weight: 400;
			}
		}
	}
	.sel_wrap {
		display:flex;
		// margin-right:-10px;
		.sel {
			position: relative;
			flex:1;
			margin-right:10px;
			cursor: pointer;
			input[type=radio] {
				position: absolute;
				left:0;
				top:0;
				visibility: hidden;
				&:checked + p {
					background-color:#0053a7;
					&:before {
						content:'';
						display:inline-block;
						width:11px;
						height:8px;
						margin:-2px 8px 0 0;
						background:url(../images/common/btn_check.png) no-repeat 0 0 / cover;
					}
				}
			}
			p {
				width:100%;
				padding: 0.85rem 0;
				text-align: center;
				background-color:#d1d1d1;
				color:#fff;
			}
		}
	}
	.tag {
		display:inline-block;
		padding:0 2px;
		margin:-2px 0 0 8px;
		border:1px solid #888;
		color:#888;
		font-size:11px;
		line-height:15px;
		font-weight:500;
		vertical-align:middle;
	}
	.mix_half {
		.inpwrap {
			margin-bottom:10px;
		}
		input {
			width:calc(100% - 110px);
		}
		.btn_download {
			width:110px;
			border:1px solid #0053a7;
			line-height:38px;
			text-align:center;
			color:#0053a7;
			&::before {
				content:'';
				display:inline-block;
				margin-right:10px;
				width:13px;
				height:13px;
				background:url(../images/common/btn_download.png) no-repeat 0 0 / cover;
			}
		}
	}
	.more_view {
		margin:30px auto 0;
		background-color:#ebebeb;
	}
} //.partner

/** custom **/
.custom {
	.row {
		position: relative;
		margin-top:20px;
		margin-bottom:20px;
		&._agr {
			.chkwrap {
				span {
					color:#00a8e2;
				}
			}
		}
		&._view {
			margin-top:0;
			textarea {
				min-height:250px;
			}
		}
	}
	.frm_group {
		margin-bottom:0px;
		& + .frm_group {
			margin-top:20px;
		}
		.warn {
			margin-top:5px;
			margin-bottom:5px;
		}
	}
	.btn_view {
		display: inline-block;
		position:absolute;
		right:30px;
		top:3px;
		padding-right:10px;
		color:#666666;
		font-size:12px;
		font-weight: 350;
		background:url(../images/icon/ico_arr-bk.png) no-repeat right center / 5px;
	}
	.cust_call {
		dt {
			font-size:17px;
			font-weight: 500;
		}
		dd {
			margin-top:15px;
			p {
				margin-top:7px;
				color:#666666;
				font-size:12px;
				font-weight: 350;
			}
		}
	}

	// community
	.sort {
		display:flex;
		margin:0;
		padding:0 30px;
		&:after {
			@extend %clearer;
		}
		select {
			width:auto;
			margin-left:auto;
			padding:0 25px 0 0;
		}
		.btn_write {
			display:inline-block;
			padding:0 14px;
			border:1px solid #0053a7;
			color:#0053a7;
			line-height:28px;
			text-align:center;
			&:after {
				content:'';
				display:inline-block;
				width:6px;
				height:9px;
				margin:-4px 0 0 5px;
				vertical-align:middle;
				background: {
					image:url(../images/icon/ico_arr_link.png);
					position:0 0;
					size:cover;
				}
			}
		}
	}
	.accord_wrap {
		.title {
			font-size:14px;
			@include ellipse(2);
		}
		.info {
			margin-top:4px;
			span {
				font-size:12px;
				font-weight:300;
				color:#999;
				&:after {
					content:'';
					display:inline-block;
					width:1px;
					height:7px;
					margin:-2px 4px 0 8px;
					background-color:#eee;
				}
				&:last-of-type {
					&:after {
						display:none;
					}
				}
			}
			.cate {
				color:#00a8e2;
			}
		}
		.acco {
			&_head {
				padding:2.1rem 3rem;
				border-bottom:1px solid #eee;
				.acco_target {
					padding-right:3.5rem;
					font-weight:400;
					i {
						top:50%;
						width:20px;
						height:0.75rem;
						border-width:0;
						background: {
							image: url(../images/icon/icon_close-down.png);
							size:13px;
							repeat:no-repeat;
							position: center 0;
						}
						transform:translateY(-50%);
					}
				}
				&[aria-expanded="true"] {
					border-bottom-width:0;
					.acco_target i {
						transform:translateY(-50%) rotate(180deg);
					}
				}
			}
			&_panel {
				padding:3rem;
				background-color:#f2f4f6;
				.view {
					color:#666;
					> * {
						color:inherit;
					}
					& + .attach {
						margin-top:20px;
					}
				}
			}
		}
		&._qna {
			.question,
			.answer {
				position:relative;
				padding-left:25px;
				&:before {
					position:absolute;
					left:0;
					font-size:15px;
				}
			}
			.question {
				&:before {
					content:'Q';
					top:0;
				}
			}
			.answer {
				&:before {
					content:'A';
					top:20px;
					color:#00abe4;
				}
				margin-top:20px;
				padding-top:20px;
				border-top:1px solid #e0e0e0;
			}
			.acco_panel {
				border-bottom:1px solid #eee;
			}
		}
	}
} // .custom
.layer_body.agreepopup {
	.agr_text {
		min-height:calc(100% - 100px);
		max-height:calc(100% - 100px);
		overflow-y:auto;
		dl {
			margin-top:25px;
			&:first-child {margin-top:0;}
		}
		dt {
			color:#0053a7;
			font-weight: 500;
		}
		dd {
			padding-top:20px;
			color:#666666;
			&.light {
				padding-top:5px;
				font-weight: 300;
			}
		}
	}
}

// professional
.professional {
	.about {
		.row {
			padding: {
				top:60px;
				bottom:60px;
			}
			&:last-child { padding-bottom:0; }
			// &:nth-child(even) { background-color:#f2f4f6; }
		}
		.tit {
			font-size:20px;
			line-height:28px;
			font-weight:700;
		}
		.desc {
			margin-top:10px;
			font-size:14px;
			line-height:23px;
			font-weight:300;
		}
		&_top {
			figcaption {
				position:relative;
				margin:-57px auto 0 30px;
				padding:40px 30px;
				background-color:#fff;
				font-size:14px;
				line-height:23px;
				font-weight:300;
				box-shadow:9px 15px 30px 0 rgba(0,0,0,.05);
				strong {
					display:block;
					margin-top:20px;
					font-size:inherit;
					font-weight:500;
				}
			}
		}
		&_vod {
			.row {
				padding-top:0;
				margin-top:-15px;
			}
			.vod {
				width:100%;
				max-width:640px;
				position:relative;
				padding-bottom:60%;
				margin:0 auto;
				overflow: hidden;
				iframe {
					position: absolute;
					top:0;
					left: 50%;
					width:100%;
					height:100%;
					@include transform(translate(-50%, 0));

				}
			}
		}
		&_sec1 {
			.tit {
				font-weight:300;
				em {
					font-size:inherit;
					font-weight:500;
				}
			}
			> .desc {
				margin-top:20px;
			}
			figure {
				margin:50px -30px 0;
				&:first-of-type {
					margin-top:60px;
				}
			}
			figcaption {
				padding:30px 30px 0;
				em {
					display:block;
					font-size:20px;
					line-height:28px;
				}
			}
		}
		&_sec2 {
			ul {
				margin-top:30px;
				background-color:#fff;
				padding-bottom:40px;
			}
			li {
				padding:34px 30px 0;
				text-align:center;
				font-size:14px;
				font-weight:300;
				span {
					font-size:inherit;
					font-weight:700;
				}
				@for $i from 1 through 4 {
					&:nth-of-type(#{$i}):before {
						content:'';
						display:block;
						width:40px;
						height:40px;
						margin:0 auto 10px;
						background:url(../images/professional/ico_manage0#{$i}.png) no-repeat 50% 50%;
						background-size:cover;
					}
				}
			}
			.report {
				p {
					padding:40px 0 15px;
					font-size:14px;
					font-weight:500;
					text-align:center;
				}
				.btn_wrap {
					margin-bottom:0;
				}
			}
			.btn {
				display:flex;
				align-items:center;
				justify-content:center;
				font-weight:300;
				span {
					margin-left:4px;
					color:inherit;
					font-weight:700;
				}
			}
			.ico_down {
				display:inline-block;
				margin-right:10px;
				width:20px;
				height:20px;
				background:url(../images/icon/icon_download-wh.png) no-repeat 0 0 / cover;
			}
		}
		&_sec3 {
			ul {
				margin:30px -30px 30px 0;
			}
			li {
				&:nth-child(odd) {
					background-color:#eef6ff;
				}
				&:nth-child(even) {
					background-color:#f8fbff;
				}
				@for $i from 1 through 6 {
					&:nth-of-type(#{$i}) {
						background: {
							image:url(../images/professional/bg_covid0#{$i}.png);
							size:auto 100px;
							repeat:no-repeat;
							position:100% 0;
						}
					}
				}
				div {
					height:100px;
					align-items:center;
					padding-top:25px;
					padding-left:25px;
					font-size:14px;
					font-weight:500;
				}
				span {
					display:block;
					font-size:12px;
					font-weight:300;
				}
				a {
					display:flex;
					height:100px;
					align-items:center;
					padding-left:25px;
					
					i {
						display:inline-block;
						width:6px;
						height:10px;
						margin:-2px 0 0 4px;
						background:url(../images/icon/ico_arr-bk.png) no-repeat 50% 50%;
						background-size:100% auto;
						vertical-align:middle;
					}
				}
			}
		}
		&_sec4 {
			background-color:#f2f4f6;
			ul {
				margin-top:20px;
				&:after {
					@extend %clearer;
				}
			}
			li {
				float:left;
				width:calc(100% / 3);
				margin-top:10px;
				a {
					display:block;
				}
			}
		}
		&_sec5 {
			ul {
				margin-top:10px;
				&:after {
					@extend %clearer;
				}
			}
			li {
				float:left;
				width:calc(50% - 5px);
				margin-top:10px;
				background-color:#f2f4f6;
				&:nth-child(2n) {
					margin-left:10px;
				}
				@for $i from 1 through 7 {
					&:nth-of-type(#{$i}) span:before {
						content:'';
						display:block;
						width:30px;
						height:27px;
						margin-bottom:23px;
						background: {
							image:url(../images/professional/ico_solution0#{$i}.png);
							size:contain;
							repeat:no-repeat;
							position:0 0;
						}
					}
				}
				span {
					display:block;
					padding:15px 15px 10px;
					font-size:14px;
				}
			}
		}
	}
	.sort_store {
		padding:40px 30px 0;
		.inpwrap {
			display:flex;
			margin-bottom:10px;
		}
		select {
			flex:1;
			&:last-child {
				margin-left:10px;
			}
		}
	}
	.tbl_list {
		margin:0 -30px;
		th,td {
			text-align:left;
			&:first-of-type {
				padding-left:30px;
			}
			&:last-of-type {
				padding-right:30px;
			}
			&.center {
				text-align:center;
			}
		}
		th {
			padding:10px 16px;
		}
		td {
			border-color:#f5f5f5;
			&:first-of-type {
				padding-right:10px;
			}
			&:last-of-type {
				padding-left:4px;
			}
			&[colspan] {
				height:30px;
				padding:0 30px;
				font-weight:300;
				color:#0053a7;
				border-color:#eee;
			}
			.tel {
				color:#666;
			}
		}
	}
	.more_view {
		margin:30px auto;
	}
	.map_area {
		position:relative;
		padding-bottom:100%;
		background-color:#eee;
	}
	.mapinfo_tx {
		position: absolute;
		display: inline-block;
		border:1px solid #0053a7;
		padding:2px 5px;
		color:#0053a7;
		font-size:18px;
		background-color: rgba(255,255,255, .85);
		z-index: 10;
	}
}

// brand
.brand {
	&_info {
		position:relative;
		padding:15px 30px 0;
		background-image:linear-gradient(to bottom, #006fba, #0053a7 calc(100% - 54px), #fff calc(100% - 54px));
		.logo {
			height:22px;
			margin-bottom:20px;
			img {
				height:100%;
			}
		}
		figure {
			margin-top:15px;
			text-align:center;
			img {
				max-height:155px;
			}
		}
		.item_link {
			margin-top:30px;
		}
		&.kleenex {
			background-image:linear-gradient(to bottom, #006fba, #0053a7 calc(100% - 66px), #fff calc(100% - 66px));
		}
		&.kleenguard {
			background-image:linear-gradient(to bottom, #006fba, #0053a7 calc(100% - 48px), #fff calc(100% - 48px));
		}
		&.wypall {
			background-image:linear-gradient(to bottom, #006fba, #0053a7 calc(100% - 42px), #fff calc(100% - 42px));
			.logo {
				height:30px;
			}
		}
		&.scott .logo { height:36px; }
		&.kimtech .logo { height:24px; }
		
		// sub
		&.sub {
			border-bottom:3.25rem solid #fff;
			background-image:linear-gradient(to bottom, #006fba, #0053a7);
			figure {
				position:absolute;
				right:0;
				bottom:-3.25rem;
				width:115px;
			}
			.desc {
				padding:5px 0 10px;
			}
			.item_link {
				margin-top:20px;
			}
			.logo { 
				max-width:180px;height:auto;max-height:52px; 
				img {
					height:auto;
				}
			}
		}
	}
	.desc {
		font-size:12px;
		font-weight:300;
		color:#fff;
	}
	.item_link {
		padding-bottom:15px;
		font-size:0;
		li {
			display:inline-block;
			margin:0 .75rem .75rem 0;
			&:last-of-type {
				margin-bottom:0;
			}
		}
		a {
			display:block;
			padding:0 9px;
			font-size:13px;
			font-weight:500;
			line-height:25px;
			color:#fff;
			background-color:#0c479b;
			&:after {
				content:'';
				display:inline-block;
				width:6px;
				height:9px;
				margin:-4px 0 0 5px;
				vertical-align:middle;
				background: {
					image:url(../images/icon/ico_arr-wh.png);
					position:0 0;
					size:cover;
				}
			}
		}
	}
	.tab_navi {
		padding:0 20px 18px;
		border-bottom:0;
		background-color: #fff;
		@include transition(.1s, ease);
		li {
			width:auto;
			a {
				color:#999;
			}
		} 
		&.fixed {
			position:fixed;
			left:0;
			right:0;
			top:50px;
			width:100%;
			z-index: 1;
			padding-bottom:0;
		}
	}
	.tab_cont {
		position: relative;
		border-top:1px solid #eee;
		margin-top:-18px;
		p {
			&._gif {
				text-align: center;
				img {
					max-width: 310px;
				}
			}
		}
	}
}
.layer_body.vodpop {
	.layer_close {
		background-image:url(../images/common/btn_wdel.png);
	}
	.layer_wrap {
		width:calc(100% - 20px);
		max-width:500px;
		height:315px;
		background-color:transparent;
	}
	.layer_cont {
		padding:0;
		padding-top:30px;
	}
	iframe {
		width:100%;
		height:100%;
	}
}

// solution
.solution_view {
	margin:0 auto;
	.sol_title {
		display: block;
		margin-bottom:65px;
		font-size:40px;
		font-weight:500;
		span {
			display: block;
			font-size:13px;
			font-weight: 300;
		}
	}
	.sub_block {
		margin-bottom:50px;
		dt {
			position:relative;
			width:100%;
			padding-top:40%;
			margin-bottom:25px;
			overflow: hidden;
			img {
				position: absolute;
				top:50%;
				left:0;
				right:0;
				max-width:100%;
				width:100%;
				@include transform(translate(0, -50%));
			}
			&.wide {
				padding-top:80%;
			}
		}
		dd {
			padding-left:30px;
			padding-right:30px;
		}
		hr {
			width:calc(100% + 60px);
			height:1px;
			margin-left:-30px;
			margin-top:40px;
			margin-bottom:40px;
			background-color: #e0e0e0;
		}
		.tit {
			margin-bottom:30px;
			font-weight: 500;
			font-size:14px;
			> span {
				display: block;
				font-size:12px;
				font-weight: 300;
				color:#666666;
				&.etc {
					font-size:13px;
					.btn {
						display: block;
						margin:0;
						margin-top:5px;
						width: 110px;
						height: 24px;
						border-radius: 25px;
						line-height: 23px;
						background-color: #7b7b7b;
						font-size:12px;
						color: #fff;
						text-align: center;
						vertical-align: middle;
					}
					i {
						display: inline-block;
						width: 5px;
						height: 8px;
						background-image: url(../images/icon/ico_arr-wh.png);
						background-size: 5px;
						background-repeat: no-repeat;
						background-position: center center;
						margin-top: -2px;
						margin-left: 4px;
						vertical-align: middle;
					}
				}
			}
		}
		h2 {
			position:relative;
			margin-bottom:25px;
			font-size: 20px;
			> span, > p {
				display: block;
				margin-top:5px;
				font-size:13px;
				font-weight: 300;
				vertical-align: middle;
			}
			> p {
				margin-bottom:15px;
			}
		}
	}
	.product_list {
		._half {
			position:relative;
			margin-bottom: 40px;
			padding-bottom: 40px;
			&:after {
				content: '';
				display: block;
				position: absolute;
				left:-30px;
				bottom:0;
				width: calc(100% + 60px);
				height:1px;
				background-color: #e0e0e0;
			}
			&:last-child:after {display: none;}
		}
		li {
			float: left;
			width: calc((100% / 2) - 5px);
			margin-right: 10px;
    	margin-bottom: 40px;
			&:last-child, 
			&:nth-last-child(2) {
				margin-bottom: 0;
			}
			&:nth-child(2n) {
				margin-right: 0;
			}
			.img img {
				width:auto;
				max-height:100%;
			}
		}
	}
	.tab_navi {
		.col2 {
			li {
				width:calc(100% / 2);
			}
		}
		.col3 {
			li {
				width:calc(100% / 3);
			}
		}
		li {
			width:auto;
			a {
				width:100%;
				padding: 15px 20px 10px;
				text-align: center;
			}
		}
	}
	.level-d {
		margin-bottom:25px;
		.tit {
			margin-bottom:25px;
			font-size:14px;
		}
		.inn {
			position:relative;
			width:255px;
			max-width:280px;
			min-height:320px;
			margin:0 auto;
			background: {
				image: url(../images/solution/solution06_level-cut.png);
				size: 100px;
				repeat: no-repeat;
				position:0 0;
			}
		}
		i {
			display: inline-block;
			width:15px;
			height:15px;
			background: {
				image: url(../images/solution/solution_ico.png);
				size:15px;
				repeat: no-repeat;
				position:0 0;
			}
			vertical-align: middle;
		}
		p {
			position: absolute;
			&.p01 {
				left:90px;top:20px;
				i {background-image: url(../images/solution/solution_num01.png);}
			}
			&.p02 {
				left:115px;top:80px;
				i {background-image: url(../images/solution/solution_num02.png);}
			}
			&.p03 {
				left:115px;top:150px;
				i {background-image: url(../images/solution/solution_num03.png);}
			}
			&.p04 {
				left:105px;top:260px;
				i {background-image: url(../images/solution/solution_num04.png);}
			}
			strong {
				display: inline-block;
				margin:0 10px;
				font-weight: 400;
				font-size:13px;
				letter-spacing: -.5px;
				vertical-align: middle;
			}
			span {
				display: inline-block;
				vertical-align: middle;
			}
		}
		.inn_txt {
			position:relative;
			width:100%;
			margin:15px auto 0;
			i {
				margin-top:5px;
				vertical-align: top;
			}
			p {
				position:relative;
				top:0 !important;
				left:0 !important;
				margin-top:13px;
				font-weight: 300;
				text-align: left;
				span {
					width:calc(100% - 30px);
					margin-left:13px;
					line-height: 1.4;
				}
			}
		}
	}
}

.sitemap {
		border-top: 1px solid #000;
		padding-top: 35px;
	.section {
		margin: 0 30px;
		* {
			line-height: 1;
		}
		margin-bottom: 35px;
		border-bottom: 1px solid #e2e2e2;
		&.sec6 {
			border-bottom: none;
		}
		h3 {
			font-size: 14px;
			font-weight: 700;
		}
		.nav {
			display: flex;
			flex-wrap: wrap;
			margin-top: 20px;
			>li {
				min-width: 50%;
				margin-bottom: 15px;
				.ti, > a {
				font-size: 13px;
				font-weight: 350;
				display: inline-block;
				margin-bottom: 15px;
				}
				ul>li {
					margin-bottom: 15px;
					>a {
						font-size: 12px;
						font-weight: 300;
						color: #666;
						&:before {
							content: '';
							display: inline-block;
							width:2px;
							height:2px;
							background-color: #000;
							border-radius: 50%;
							margin-top:-3px;
							margin-right:4px;
							vertical-align: middle;
						}
					}
				}
			}
		}
	}
}

.eventpage {
	&.wrap {
		padding-top: 0;
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
		h1.logo {
			margin: 11px auto;
			background-size: 81px;
			width: 81px;
			height: 30px;
		}
		.conts {
			position: absolute;
		}
	}
	[class*='event_'] {
		position: relative;
		width:100%;
		overflow: hidden;
		text-align: center;
		img {
			position: relative;
			display: block;
		}
	}
	.event_bg1 {
		.conts {
			top: 43%;
			left: 50%;
			transform: translateX(-50%);
			.btn {
				width: 90px;
				height: 28px;
				background-color: #fae900;
				border-radius: 40px;
				text-align: center;
				font-size: 11px;
				font-weight: 500;
				line-height: 28px;
				letter-spacing: -0.02em;
				box-shadow: 10px 10px 50px rgba(0, 0, 0, .3);
			}
		}
	}
	.event_bg2 {
		position: relative;
		padding-top:72px;
		.conts {
			top: 38%;
			left: 50%;
			width:100%;
			max-width:600px;
			transform: translateX(-50%);
			.info {
				float:left;
				width:50%;	
				color: #666;
				font-size: 12px;
				font-weight: 350;
				line-height: 18px;
				letter-spacing: -0.02em;
				text-align: left;
				padding-left:17.5%;
				&_2 {
					padding-left:5.5%;
					text-align: left;
				}
			}
			&:after {
				@extend %clearer;
			}
		}
	}
	&.retail {
		.event_bg1 {
			.conts {
				top: 58.256%;
				left: 10%;
				-webkit-transform: none;
				transform: none;
				text-align: left;
				span {
					position: relative;
					display: block;
					padding-left:8px;
					color:#fae900;
					font-weight:700;
					font-size:14px;
					&:before {
						content: '';
						position: absolute;
						left:0;
						top:11px;
						display: block;
						width:3px;
						height:3px;
						border-radius: 50%;
						background-color:#fae900;
					}
				}
				.info {
					padding-left:8px;
					margin-bottom:20px;
					color: #fff;
					font-size: 12px;
					font-weight: 350;
					&_2 {
						margin-bottom:0;
					}
				}
			}
		}
		.event_bg2 {
			padding-top:0;
		}
		.input-conts {
			background-color: #fff;
			margin: 0 30px;
			textarea {
				margin-top: 35px;
				width: 100%;
				min-height: 90px;
				max-height:120px;
				background-color: #fff;
				border: 1px solid #cfcfcf;
			}
			button {
				width: 100%;
				color: #fff;
				background-color: #000;
				padding: 12.5px 0;
				margin-top: 15px;
				font-size: 11px;
				font-weight: 700;
			}
			.rply-list {
				border-top: 3px solid #000;
				margin-top: 30px;
				li {
					min-height: 50px;
					border-bottom: 1px solid #b2b2b2;
					padding: 10px 15px 8px;
					.tit {
						font-size: 11px;
						line-height: 16px;
						font-weight: 500;
						margin-bottom: 2px;
						position: relative;
						padding-left: 20px;
						color: #333;
						.num {
							font-size: 11px;
							line-height: 16px;
							font-weight: 500;
							margin-right: 15px;
							position: absolute;
							left: 0;
						}
					}
					.info {
						padding-left: 23px;
						> p {
							font-size: 9px;
							color: #999;
							font-weight: 350;
							display: inline-block;
							&.confirm {
								&:before {
									content: '|';
									padding: 0 6px;
								}
							}
						}
					}
				}
			}
			.more_view a {
				padding: 12.5px 0;
				font-size: 11px;
				font-weight: 500;
			}
		}
		.evnt_foo {
			background-image:linear-gradient(to bottom, #e8e8e8, #f9f9f9);
		}
	}
	.evnt_foo {
		margin-top:35px;
		padding: 30px;
		background-color: #f9f9f9;
		.title {
			font-size: 14px;
			font-weight: 700;
			margin-bottom: 10px;
		}
		li {
			padding-top:5px;
			font-size: 11px;
			line-height: 1.5;
			font-weight: 350;
			position: relative;
			padding-left: 8px;
			color: #333;
			&:first-child {padding-top:0;}
			&:before {
				content: '-';
				position: absolute;
				left: 0;
				top: 0;
				width: 8px;
			}
			a {
				font-size: inherit;
				font-weight: inherit;
				line-height: inherit;
			}
		}
	}
}