@charset "utf-8";
@import "mixins";

.main {
	.wrap {
		margin-top:0;
		padding-top:0;
	}
	.footer {
		.social{
			display: block;
		}
	}
	.keyvisual {
		.figure {
			padding-top:82%;
			background: {
				size:cover;
				position: center 0;
				repeat:no-repeat;				
			};
		}
		.info {
			padding:25px 30px;
			.title {
				font-size: 15px;
				font-weight: 700;
			}
			.desc {
				font-weight: 300;
			}
		}
	}
	.btn-util {
		padding:18px 0;
		background: {
			image: url(../images/common/main_btn-bg.png);
			size:cover;
			repeat:no-repeat;
			position: center center;
		}
		text-align: center;
		a {
			display: block;
			width:100%;
			height:100%;
			font-size: 15px;
			font-weight: 700;
			color:#ffffff
		}
	}
	.section {
		padding:60px 0 0;
		> h2 {
			font-size: 20px;
			text-align: center;
		}
	}
	.kvpage {
		position: absolute;
		right:0;
		width:7.5rem;
		padding:10px;
		text-align:right;
		background-color:#fff;
		z-index:1;
		.swiper-counter {
			span {
				display: inline-block;
				font-size: 11px;
				color:#888888;
				&.cur {
					color:#000;
				}
			}
		}
	}
	.swiper-pagination-progressbar {
		width:calc(100% - 20px);
		height:1px;
	}
	.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
		background:#000;
	}

	.btn_more {
		display: inline-block;
		margin-top:20px;
		i {
			display: inline-block;
			width:7px;
			height:7px;
			margin-top:-2px;
			border-top:1px solid #333;
			border-right:1px solid #333;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			vertical-align: middle;
		}
	}
	.section {
		h3 {
			display: block;
			padding-bottom:20px;
			font-size:23px;
			text-align:center;
		}
	}
	.solution_sec {	
		position: relative;
		&:before {
			content:'';
			position: absolute;
			top:42px;
			left:0;
			display: block;
			width:115px;
			padding-top:100%;
			background: {
				image:url(../images/common/bar.png);
				size:cover;		
				position: center center;
				repeat:no-repeat;				
			};
		}
		.swiper-slide {
			margin-right:13px;
			.figure {
				padding-top:75%;
				margin-bottom:38px;
				background: {
					size:100% calc(100% - 32px);		
					position: center center;
					repeat:no-repeat;				
				};
				@include transition(.3s, ease);
			}
			.info {
				padding:0 25px;
				> h4 {
					font-size:25px;
					font-weight: 300;	
				}
				.title {
					padding-top:1.75rem;
					font-weight: 700;
				}
				.desc {
					padding-top:1.0rem;
					font-weight: 300;	
				}
			}
			&.swiper-slide-active {
				.figure {
					background: {
						size:cover;
					};
				}
			}
		}
		.swipe_navi {
			position: absolute;
			top:53%;
			right:30px;
			width:60px;
			z-index: 11;
			> div {
				position: relative;
			}
			.swiper-button-next {
				right:0;
				width:15px;
				height:10px;
				background: {
					image:url(../images/common/slide_next.png);
					size:15px;
					repeat:no-repeat;
					position:0 center;
				}
			}
			.swiper-button-prev {
				left:0;
				width:15px;
				height:10px;
				background: {
					image:url(../images/common/slide_prev.png);
					size:15px;
					repeat:no-repeat;
					position:0 center;
				}
			}
		}
	} // .solution_sec 
	.recommand_sec {
		.swiper-container {
			padding:0 35px;
			background: {
				image:url(../images/common/mproduct_bg.png);
				size:cover;
				repeat:no-repeat;
				position:center 0;
			}
			@include transition(.3s, ease);
		}
		.swiper-slide {
			text-align: center;
			> a {
				display: block;
			}
		} 
		.figure {
			position: relative;
			padding-top:100%;
			img {
				position: absolute;
				bottom:5px;
				left:50%;
				@include transform(translateX(-50%));
				@include transition(.4s, ease-in);
				max-width:calc(100% - 40px);
			}
		}
		.info {
			opacity: 0;
			padding-top:40px;
			@include transition(.3s, ease);
			.desc {
				padding-top:1.15rem;
				font-size:14px;
			}
		}
		.tags {
			opacity: 0;
			margin-top:18px;
			.tag {
				display: inline-block;
				min-width:50px;
				padding:0.5rem 1.0rem 0.6rem;
				margin-bottom:5px;
				border:1px solid #c2c2c2;
				border-radius: 20px;
				-webkit-border-radius: 20px;
				-moz-border-radius: 20px;
				-ms-border-radius: 20px;
				-o-border-radius: 20px;
				font-size:12px;
				font-weight: 300;
				color:#888888;
			}
		}
		.logo {
			opacity: 0;
			min-height:20px;
			background: {
				repeat:no-repeat;
				position:center 0;
				size:auto 20px;
			}
			img {
				max-height:21px;
			}
			&.logo_scott {
				img {
					max-height:58px;
				}
			}
		}
		.swiper-slide-active {
			.figure {
				img {
					bottom:0;
				}
			}
			.info, .tags, .logo {
				opacity: 1;
			}
		}
		.swipe_navi {
			position: absolute;
			top:calc(50% / 1.65);
			width:calc(100% - 70px);
			z-index: 11;
			@include transform(translate(0, -50%));
			> div {
				position: relative;
				width:100%;
				z-index: 11;
			}
			.swiper-button-next {
				right:-18px;
				width:20px;
				height:20px;
				background: {
					image:url(../images/common/slide_next2.png);
					size:12px;
					repeat:no-repeat;
					position:0 center;
				}
			}
			.swiper-button-prev {
				left:-13px;
				width:20px;
				height:20px;
				background: {
					image:url(../images/common/slide_prev2.png);
					size:12px;
					repeat:no-repeat;
					position:0 center;
				}
			}
		}
	} //.recommand_sec 
	.innov_sec {
		margin-top:60px;
		padding-bottom:45px;
		background-color:#f2f4f6;
		.swiper-container {
			padding-left:3rem;
			padding-right:2.5rem;
		}
		.figure {
			position: relative;
			padding-top:100%;
			img {
				position: absolute;
				top:50%;
				left:50%;
				@include transform(translate(-50%, -50%));
			}
		}
		.info {
			margin-top:20px;
			.desc {
				font-weight: 300;
			}
		}
	} //.innov_sec

	.mailling_sec {
		> h3 {
			padding-top:26px;
			padding-bottom:20px;
			background: {
				image:url(../images/icon/ico_email.png);
				size:36px;
				repeat:no-repeat;
				position:center 0;
			}
		}
		.row {
			padding:0 30px;
			text-align:center;
		}
		.frm {
			margin-top:3rem;
			input[type=text] {
				width:calc((100% / 2) - 14px);
			}
			span {
				display: inline-block;
				width:20px;
				vertical-align: middle;
			}
			p {
				margin-top:10px;
			}
			select {
				padding:1.3rem 25px 1.35rem 10px;
				border:1px solid #000000;
				background: {
					position: right 10px center;
				};
			}
		}
		.btn_wrap {
			margin-top:20px;
			.btn {
				font-size:15px;
				font-weight: 700;
			}
		}
	} //.mailling_sec
	.brand_sec {
		.container-navi {
			padding-right:3rem;
			.swiper-slide {
				width:auto !important;
				max-height:45px;
				padding:1.6rem 1.5rem;
				text-align:center;
				background-color:#fff;
				p {
					line-height: 1;
					word-break: break-all;
				}
				&.swiper-slide-thumb-active {
					background-image:linear-gradient(to right, #008dcf, #006fba);
					color:#fff;
					p {
						color:#fff;
					}
				}
			}
		}
		.swiper-pagination {
			display:flex;
			overflow:hidden;
			position:static;
			&-bullet {
				width:auto;
				height:auto;
				margin:0;
				padding:1.1rem 1.5rem;
				border-radius:0;
				background-color:#fff;
				opacity:1;
				white-space:nowrap;
				&-active {
					background-image:linear-gradient(to right, #008dcf, #006fba);
					color:#fff;
					span {
						color:inherit;
					}
				}
			}
		}
		.container-top {
			padding-bottom:55px;
			.swiper-slide {
				background: {
					size:cover;
					position:center 0;
				}
				&:before {
					content: '';
					display: block;
					position: absolute;
					top:0;
					left:0;
					width:100%;
					height:100%;
					background-color:rgba(0,0,0, .6);
				}
			}
		} 
		.row {
			position: relative;
			height:600px;
			padding:9.5rem 0 0;
			margin-top:-5px;
			z-index:1;
			p {
				padding-left: 8.0rem;
				padding-right:5rem;
				color:#fff;
			}
			.name {
				position: relative;
				font-size:30px;
				font-weight: 300;
				&:before {
					content: '';
					display: block;
					position: absolute;
					left:0;
					top:17px;
					width:5.5rem;
					height:.4rem;
					background-color:#fff;
				}
			}
			.eng {
				padding-top:15px;
				font-weight: 700;
			}
			.desc {
				padding-top:10px;
			}
			.img {
				position: absolute;
				bottom:-60px;
				left:50%;
				@include transform(translate(-50%, 0));
				width:100%;
				max-width:260px;
				// padding-left:8.0rem;
				// padding-top:15px;
				// img {
				// 	margin-bottom:-55px;
				// }
			}
		}
	} //.brand_sec 
} //.main

.partner_wrap {
	.app_link {
		> ul {
			display: flex;
			li {
				flex:1;
				line-height:1.5;
				text-align:center;
				i {
					display: block;
					width:30px;
					height:30px;
					margin:0 auto 5px;
					background:{
						size:30px;
						repeat:no-repeat;
						position:0 0;
					}
				}
				&.lnk01 {
					i {
						background-image:url(../images/icon/icon_app01.png);
					}
				}
				&.lnk02 {
					i {
						background-image:url(../images/icon/icon_app02.png);
					}
				}
				&.lnk03 {
					i {
						background-image:url(../images/icon/icon_app03.png);
					}
				}
				&.lnk04 {
					i {
						background-image:url(../images/icon/icon_app04.png);
					}
				}
			}
		}
	}
	.search {
		margin-top:50px;
		background-color:#f2f4f6;
		.row {
			padding:45px 30px 35px;
			text-align:center;
			> h3 {
				font-size:23px;
				font-weight: 450px;
			}
			.inpwrap {
				position:relative;
				margin-top:2rem;
				-webkit-box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.2);
				-moz-box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.2);
				box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.2);
				input {
					padding-right:15%;
					background-color:#fff;
				}
				.btn_search {
					position: absolute;
					right:10px;
					top:13px;
				}
			}
		}
	}
	.noti_board {
		margin-top:50px;
		.board_head {
			position:relative;
			padding:10px 0;
			margin:0 30px;
			text-align:center;
			input.datepicker {
				width:10rem;
				background-color:transparent;
				border:0;
				padding:0;
			}
			.btn {
				position: absolute;
				top:34%;
				i {
					display: inline-block;
					line-height: inherit;
					vertical-align: middle;
					width: 7px;
					height: 7px;
					border-left: 1px solid #000;
					border-bottom: 1px solid #000;
					box-sizing: border-box;
				}
				&.btn_prev {
					left:18%;
					i {
						-webkit-transform: rotate(135deg);
						transform: rotate(45deg);
					}
				}
				&.btn_next {
					right:21%;
					i {
						-webkit-transform: rotate(-135deg);
						transform: rotate(-135deg);
					}
				}
				&.last {
					i {
						border-left-color: #666666;
						border-bottom-color: #666666;
					}
				}
			}
			.btn_link {
				position: absolute;
				right:0;
				top:17px;
				font-size:13px;
				color:#666666;
				border-bottom-color:#666666;
			}
		}
		.board_wrap {
			margin-left:30px;
			border-top:1px solid #eeeeee;
			li {
				padding:20px 0 16px;
				border-bottom:1px solid #eeeeee;
				.title {
					padding-right:30px;
					@include ellipse(1);
				}
				.etc {
					p {
						display: inline-block;
						padding-left:5px;
						font-weight: 300;
						font-size:12px;
						&:before {
							content: '';
							display: inline-block;
							margin-right:8px;
							margin-top:-3px;
							width:1px;
							height:7px;
							background-color:#eeeeee;
							vertical-align: middle;
						}
						&:first-child {
							padding-left:0;
							&:before {display: none;}
						}
						&.type {
							color:#00a8e2;
						}
						&.date {
							color:#999999;
						}
						&.util {
							.ico_download {
								display: inline-block;
								width:11px;
								height:10px;
								background: {
									image:url(../images/icon/icon_download.png);
									size:11px;
									repeat:no-repeat;
									position: 0 0;
								}
								vertical-align: middle;
							}
						}
					}
				}
			}
		}
	}
	.succ_case {
		position: relative;
		margin-top:50px;
		padding-top:40px;
		&:before {
			content:'';
			display: block;
			position: absolute;
			left:0;
			top:0;
			width:calc(100% - 60px);
			height:0;
			padding-top:60%;
			background: {
				image:url(../images/common/pt_topbg.png);
				size: cover;
				repeat:no-repeat;
				position:0 0;
			}
		}
		h3 {
			font-size:23px;
			color:#fff;
			text-align:center;
		}
		.swiper-container {
			padding-left:30px;
			.swiper-wrapper {
				margin-top:25px;
			}
			.figure {
				position: relative;
				padding-top:100%;
				width:100%;
				height:0;
				overflow: hidden;
				-webkit-box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.2);
				-moz-box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.2);
				box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.2);
				img {
					position: absolute;
					top:50%;
					left:50%;
					@include transform(translate(-50%, -50%));
				}
			}
			.info {
				padding-top:15px;
				* {
					font-weight: 300;
				}
			}
		}
	}
	.feedback {
		margin-top:50px;
		padding:45px 0;
		background-color:#f2f4f6;
		h3 {
			font-size:23px;
			text-align:center;
		}
		.feed_tab {
			display: flex;
			margin-top:20px;
			.tabs {
				flex:1;
				padding:10px 0;
				border-bottom:1px solid #e5e5e5;
				text-align:center;
				a {
					display: block;
					color:#999999;
				}
				&.active {
					border-bottom:2px solid #0053a7;
					a {
						font-weight: 450;
						color:#0053a7;
					}
				}
			}
			&:after {
				@extend %clearer;
			}
		}
		.row {
			padding-left:30px;
			padding-right:30px;
		}
		.order_list {
			.item {
				background-color:#fff;
			}
		}
	}
}
.partner_status {
	background: {
		image:url(../images/common/pt_topbg.png);
		size: 100% 28.4rem;
		repeat:no-repeat;
		position:center top;
	}
	.partner_info {
		position:relative;
		padding:20px 30px;
		color:#fff;
		p, span, a {
			font-size:12px;
			color:#fff;
		}
		p {
			width:70%;
			span {
				font-weight: 700;
			}
		}
		.btn_modi {
			position:absolute;
			right:30px;
			top:20px;
			i {
				display: inline-block;
				line-height: inherit;
				vertical-align: middle;
				margin-top:-2px;
				margin-left:3px;
				width: 7px;
				height: 7px;
				border-left: 1px solid #fff;
				border-bottom: 1px solid #fff;
				-webkit-transform: rotate(-135deg);
				transform: rotate(-135deg);
				box-sizing: border-box;
			}
		}
	}
	.swiper-container {
		padding-left:30px;
		padding-bottom:50px;
	}
	.item {
		// width:calc(100% - 60px) !important;
		min-height:3.5rem;
		padding:25px 0;
		// margin-right:15px;
		background-color:#fff;
		-webkit-box-shadow: 10px 15px 25px 0px rgba(0,0,0,0.36);
		-moz-box-shadow: 10px 15px 25px 0px rgba(0,0,0,0.36);
		box-shadow: 10px 15px 25px 0px rgba(0,0,0,0.36);
		.conts {
			padding-left:25px;
			padding-right:25px;
		}
	}
	.desc {
		min-height:9rem;
		margin-top:40px;
		font-size:20px;
		font-weight: 300;
		line-height:1.5;
		strong {
			font-size:inherit;
			line-height:1.5;
		}
		.unit {
			display: inline-block;
			font-size:13px;
			font-weight: 700;
			line-height:1.5;
			vertical-align: middle;
		}
	}
	.summary {
		min-height:38px;
		margin-top:20px;
		font-size:11px;
		color:#666666;
		span {
			font-size:inherit;
			color:#0053a7;
		}
	}
	[class*='type_'] {
		font-size:11px;
		font-weight: 700;
		i {
			display: inline-block;
			width:12px;
			height:13px;
			margin-right:6px;
			background:{
				size: 12px;
				repeat:no-repeat;
				position:0 0;
			}
			vertical-align: middle;
		}
	}
	.type_feedback {
		i {
			background:{
				image:url(../images/icon/icon_feedback.png);
			}
		}
	}
	.qty_list {
		display: flex;
		margin-top:35px;
		li {
			flex:1;
			text-align:center;
		}
		.title {
			font-size:11px;
			color:#666666;
		}
		.qty {
			font-size:22px;
			font-weight: 700;
		}
	}
}
.layer_body.notiview {
	.layer_head {
		padding-bottom:15px;
		.layer_title {
			height:inherit;
			padding-bottom:5px;
			font-size:14px;
			background-color:#fff;
		}
		.etc {
			padding:0 23px;
			&:after {
				@extend %clearer;
			}
			p {
				float:left;
				padding-left: 5px;
				font-size:12px;
				font-weight: 300;
				&:before {
					content: '';
					display: inline-block;
					margin-right: 8px;
					margin-top: -3px;
					width: 1px;
					height: 7px;
					background-color: #eeeeee;
					vertical-align: middle;
				}
				&:first-child:before {display: none;padding-left: 0;}
			}
			.type {
				color:#00a8e2;
			}
			.date {
				color:#999999;
			}
			.util {
				.ico_download {
					display: inline-block;
					width:11px;
					height:10px;
					background: {
						image:url(../images/icon/icon_download.png);
						size:11px;
						repeat:no-repeat;
						position: 0 0;
					}
					vertical-align: middle;
				}
			}
		}
	}
	.layer_wrap{
		background-color: #f2f4f6;
	}
	.layer_cont {
		height:auto;
		padding-bottom:60px;
	}
	.attach {
		margin-top:20px;
	}
	.conts {
		color:#666666;
		p {
			margin-bottom:10px;
			color:#666666;
		}
	}
}
.insight_sec {
	.row {
		margin:0 30px;
	}
	.item {
		position:relative;
		float:left;
		width:calc((100% / 2) - 1px);
		margin-right:2px;
		margin-bottom:2px;
		padding:20px 20px 26.83%;
		background-color: #eef8fe;
		&:nth-child(2n) {
			margin-right:0;
		}
		a {
			display: inline-block;
			width:100%;
			height:100%;
		}
		.logo {
			img {
				max-height:27px;
			}
		}
		.btn_more {
			margin-top:5px;
			font-size:11px;
			i {
				width:5px;
				height:5px;
				margin-top:-3px;
			}
		}
		.figure {
			position: absolute;
			right:0;
			bottom:0;
			// width:100%;
			text-align: right;
			img {
				max-width:50%;
			}
		}
	}
	&:after {
		@extend %clearer;
	}
}
@media screen and (min-width: 440px) and (max-width:769px) {
	.insight_sec {
		.row {
			max-width:370px;
			margin:0 auto;
		}
	}
}
@media screen and (max-width:340px) {
	.insight_sec {
		.item { 
			.figure {
				bottom:10px;
				img {
					max-width:30px;
				}
			}
		}
	}
}
