@charset "utf-8";
@import "mixins";

.main {
	.keyvisual {
		.figure {
			padding-top:82%;
			background: {
				size:cover;
				position: center 0;
				repeat:no-repeat;				
			};
		}
		.info {
			padding:25px 30px;
			.title {
				font-size: 15px;
				font-weight: 700;
			}
			.desc {
				font-weight: 300;
			}
		}
	}
	.btn-util {
		padding:18px 0;
		background: {
			image: url(../images/common/main_btn-bg.png);
			size:cover;
			repeat:no-repeat;
			position: center center;
		}
		text-align: center;
		a {
			display: block;
			width:100%;
			height:100%;
			font-size: 15px;
			font-weight: 700;
			color:#ffffff
		}
	}
	.section {
		padding:60px 0 0;
		> h2 {
			font-size: 20px;
			text-align: center;
		}
	}
	.kvpage {
		position: absolute;
		right:30px;
		padding-top:2.5rem;
		width:7.5rem;
		text-align:right;
		.swiper-counter {
			span {
				display: inline-block;
				font-size: 11px;
				color:#888888;
				&.cur {
					color:#000;
				}
			}
		}
	}
	.swiper-pagination-progressbar {
		width:100%;
		height:1px;
		margin-top:-2px;
	}
	.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
		background:#000;
	}

	.section {
		h3 {
			display: block;
			padding-bottom:20px;
			font-size:23px;
			text-align:center;
		}
	}
	.solution_sec {	
		position: relative;
		&:before {
			content:'';
			position: absolute;
			top:42px;
			left:0;
			display: block;
			width:115px;
			padding-top:100%;
			background: {
				image:url(../images/common/bar.png);
				size:cover;		
				position: center center;
				repeat:no-repeat;				
			};
		}
		.swiper-slide {
			margin-right:13px;
			.figure {
				padding-top:75%;
				margin-bottom:38px;
				background: {
					size:100% calc(100% - 32px);		
					position: center center;
					repeat:no-repeat;				
				};
				@include transition(.3s, ease);
			}
			.info {
				padding:0 25px;
				> h4 {
					font-size:25px;
					font-weight: 300;	
				}
				.title {
					padding-top:1.75rem;
					font-weight: 700;
				}
				.desc {
					padding-top:1.0rem;
					font-weight: 300;	
				}
				.btn_more {
					display: inline-block;
					margin-top:20px;
					i {
						display: inline-block;
						width:7px;
						height:7px;
						margin-top:-2px;
						border-top:1px solid #333;
						border-right:1px solid #333;
						-webkit-transform: rotate(45deg);
						transform: rotate(45deg);
						vertical-align: middle;
					}
				}
			}
			&.swiper-slide-active {
				.figure {
					background: {
						size:cover;
					};
				}
			}
		}
		.swipe_navi {
			position: absolute;
			top:53%;
			right:30px;
			width:60px;
			z-index: 11;
			> div {
				position: relative;
			}
			.swiper-button-next {
				right:0;
				width:15px;
				height:10px;
				background: {
					image:url(../images/common/slide_next.png);
					size:15px;
					repeat:no-repeat;
					position:0 center;
				}
			}
			.swiper-button-prev {
				left:0;
				width:15px;
				height:10px;
				background: {
					image:url(../images/common/slide_prev.png);
					size:15px;
					repeat:no-repeat;
					position:0 center;
				}
			}
		}
	} // .solution_sec 
	.recommand_sec {
		.swiper-container {
			background: {
				image:url(../images/common/mproduct_bg.png);
				size:calc(100% - 110px);
				repeat:no-repeat;
				position:center 0;
			}
			@include transition(.3s, ease);
		}
		.swiper-slide {
			text-align: center;
			> a {
				display: block;
			}
		} 
		.figure {
			position: relative;
			padding-top:100%;
			img {
				position: absolute;
				top:50%;
				left:75%;
				@include transform(translate(-50%, -50%));
				max-width:50%;
				@include transition(.4s, ease-in);
			}
		}
		.info {
			opacity: 0;
			padding-top:40px;
			@include transition(.3s, ease);
			.desc {
				padding-top:1.15rem;
				font-size:14px;
			}
		}
		.tags {
			opacity: 0;
			margin-top:18px;
			margin-left:-20px;
			margin-right:-20px;
			.tag {
				display: inline-block;
				min-width:50px;
				padding:0.5rem 1.0rem 0.6rem;
				margin-bottom:5px;
				border:1px solid #c2c2c2;
				border-radius: 20px;
				-webkit-border-radius: 20px;
				-moz-border-radius: 20px;
				-ms-border-radius: 20px;
				-o-border-radius: 20px;
				font-size:12px;
				font-weight: 300;
				color:#888888;
			}
		}
		.logo {
			opacity: 0;
			height:20px;
			background: {
				repeat:no-repeat;
				position:center 0;
				size:auto 20px;
			}
			&.logo_kleenex {
				background: {
					image: url(../images/common/logo_kleenex.png);
				}
			}
		}
		.swiper-slide-active {
			.figure {
				img {
					top:inherit;
					bottom:-25px;
					left:50%;
					max-width:100%;
					@include transform(translate(-50%, 0));
				}
			}
			.info, .tags, .logo {
				opacity: 1;
			}
		}
		.swiper-slide-next {
			.figure {
				img {
					left:23%;
				}
			}
		}
	} //.recommand_sec 
	.innov_sec {
		margin-top:60px;
		padding-bottom:45px;
		background-color:#f2f4f6;
		.swiper-container {
			padding-left:3rem;
			padding-right:2.5rem;
		}
		.swiper-slide {
			margin-right:2.20rem;
		}
		.figure {
			position: relative;
			padding-top:100%;
			img {
				position: absolute;
				top:50%;
				left:50%;
				@include transform(translate(-50%, -50%));
			}
		}
		.info {
			margin-top:20px;
			.desc {
				font-weight: 300;
			}
		}
	} //.innov_sec

	.mailling_sec {
		> h3 {
			padding-top:26px;
			padding-bottom:20px;
			background: {
				image:url(../images/icon/ico_email.png);
				size:36px;
				repeat:no-repeat;
				position:center 0;
			}
		}
		.row {
			padding:0 30px;
			text-align:center;
		}
		.frm {
			margin-top:3rem;
			input[type=text] {
				width:calc((100% / 2) - 13px);
			}
			span {
				display: inline-block;
				width:20px;
				vertical-align: middle;
			}
			p {
				margin-top:10px;
			}
			select {
				padding:1.3rem 25px 1.35rem 10px;
				border:1px solid #000000;
				background: {
					position: right 10px center;
				};
			}
		}
		.btn_wrap {
			margin-top:20px;
			.btn {
				font-size:15px;
				font-weight: 700;
			}
		}
	} //.mailling_sec
}
